// font-size
$fs-primary: 14px; // 专题默认字体大小
$w-main: initial; // 尺寸宽

// color
$color-theme-bg: rgb(255, 192, 192);
$color-primary: #000;
$color-yellow: yellow;
$color-orange: orange;
$color-green: #cdffa8;
$color-grey: #666;
$color-deep-grey: #333;
$color-red: red;
$color-pink: pink;
$color-blue: blue;
$color-brown: #a04b2a;
$btn-txt-color: #fff;
$btn-bg-color: #000;
