.i-dot-1 {
  display: inline-block;
  background: url('../img/p-dot.png') no-repeat 0px 0px / 207px auto;
  width: 29px;
  height: 32px;
}
.i-dot-2 {
  display: inline-block;
  background: url('../img/p-dot.png') no-repeat -89px 0px / 207px auto;
  width: 29px;
  height: 32px;
}
.i-dot-3 {
  display: inline-block;
  background: url('../img/p-dot.png') no-repeat -178px 0px / 207px auto;
  width: 29px;
  height: 32px;
}
.i-dot-4 {
  display: inline-block;
  background: url('../img/p-dot.png') no-repeat 0px -92px / 207px auto;
  width: 29px;
  height: 32px;
}
.i-dot-5 {
  display: inline-block;
  background: url('../img/p-dot.png') no-repeat -89px -92px / 207px auto;
  width: 29px;
  height: 32px;
}
.i-dot-6 {
  display: inline-block;
  background: url('../img/p-dot.png') no-repeat -178px -92px / 207px auto;
  width: 29px;
  height: 32px;
}
.ico-jlottery {
  display: inline-block;
  width: 106px;
  height: 100px;
  background: url('../img/ico-jlottery.png') no-repeat;
}
