/**
  * @name: index.css
  * @description: page style
  * @author: liejiayong(809206619@qq.com)
  * @data: 2018-12-18
*/
@import './_const.scss';
@import './_mixin.scss';
@import './_reset.scss';
@import './_font.scss';
@import './_sprite.scss';
@import './_util.scss';
@import './_lib.scss';

/**
*  business css
**/
/* navbar css */
.navbar {
  position: absolute;
  top: 45px;
  right: -30px;
  line-height: 30px;
  z-index: 100;
  text-align: right;
  color: #e7a13b;
  transition: right 0.3s linear;
  @media screen and (max-width: 1400px) {
    right: 5px;
    transition: right 0.3s linear;
  }
  .navbar-body {
    margin-left: auto;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav-content {
    position: relative;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    border: 1px solid #c8ac8c;
    width: 180px;
    border-radius: 30px;
    box-sizing: border-box;
    li {
      flex: 1;
      width: 50%;
      a {
        position: relative;
        display: block;
        font-size: 16px;
      }
      &:not(:last-of-type) {
        a::before {
          content: '';
          display: block;
          position: absolute;
          top: 9px;
          bottom: 9px;
          right: 1px;
          border-right: 1px solid #64686d;
          z-index: 1;
        }
      }
    }
  }
  .auth-stat {
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    line-height: 30px;
    border-radius: 30px;
    border: 1px solid #e7a13b;
    font-size: 14px;
    color: #e7a13b;
    box-sizing: border-box;
    a {
      position: relative;
      display: inline-block;
      width: 46px;
      font-size: 16px;
      &:not(:last-of-type) {
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 7px;
          bottom: 7px;
          right: 1px;
          border-right: 1px solid #e7a13b;
          z-index: 1;
        }
      }
    }
  }
  .user-stat {
    position: relative;
    white-space: nowrap;
    .btn-logout {
      margin: 0 5px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .btn-mygift {
      margin: 0 5px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.c-logo {
  display: block;
  position: absolute;
  top: 15px;
  left: 10px;
  width: 100px;
  height: 100px;
  z-index: 10;
  overflow: hidden;
  img {
    display: block;
    height: 100%;
    object-fit: cover;
  }
}

/* section-header */
.section-header {
  position: relative;
  height: 1088px;
  background-image: url('../img/bgh.jpg');
  .jy-headermain {
    position: relative;
    padding-top: 10px;
    height: 100%;
    background: url('../img/bghm.jpg') no-repeat center top;

    .time {
      position: absolute;
      top: 300px;
      left: 300px;
      // margin: 276px 0 0 515px;
      // width: 523px;
      // @include lh(50px);
      // line-height: 50px;
      text-align: center;
      color: #ff0000;
      font-size: 16px;
      // @include bgimgc('../img/bg-time.png');
      z-index: 1;
      span {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: -30px;
          display: block;
          width: 24px;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: -30px;
          display: block;
          width: 24px;
        }
      }
    }
    .btn-rule {
      display: block;
      margin: 15px auto 0;
    }
  }
}

// bg1
.section-1 {
  position: relative;
  height: 0px;
  background-image: url('../img/bg1.jpg');
  .jy-sectionmain {
    padding-top: 0px;
  }
}

// bg2
.section-2 {
  position: relative;
  height: 0px;
  background-image: url('../img/bg2.jpg');
  .jy-sectionmain {
    padding-top: 0px;
  }
}

// bg3
.section-3 {
  position: relative;
  height: 0px;
  background-image: url('../img/bg3.jpg');
  .jy-sectionmain {
    padding-top: 0px;
  }
}

// bg4
.section-4 {
  position: relative;
  height: 0px;
  background-image: url('../img/bg4.jpg');
  .jy-sectionmain {
    padding-top: 0px;
  }
}

.jdot-content {
  position: absolute;
  left: 720px;
  top: 194px;
  text-align: center;
}
.btn-dot-i {
  position: absolute;
  top: 30px;
  left: 40px;
}
.btn-jdot {
  position: absolute;
  top: 86px;
  left: 50%;
  margin-left: -55px;
  cursor: not-allowed;
  i {
    display: none;
  }
  &.active {
    cursor: pointer;
    animation: pulse 1s infinite;
    // i {
    //   display: block;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   &::before {
    //     content: "";
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: 10px;
    //     height: 10px;
    //     margin: -5px 0 0 -5px;
    //     background: #fff;
    //     border-radius: 50%;
    //     animation: redatwinkle 2s ease infinite;
    //   }
    // }
  }
}
