@font-face {
  font-family: 'fcustom';
  src: url('../media/fcustom.eot') format('opentype'), url('../media/fcustom.eot?#iefix') format('embedded-opentype'),
    url('../media/fcustom.woff') format('woff'), url('../media/fcustom.ttf') format('truetype'),
    url('../media/fcustom.svg#fcustom') format('svg');
}

.ff-custom {
  font-family: fcustom, sans-serif;
}

.ff-normal {
  font-family: initial;
}
