/**
 * @description:  image style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 
 */

.bg {
  // display: inline-block;
  width: 7.5rem;
  min-height: 20rem;
  background: url('../img/bg.jpg') no-repeat top center / 7.5rem auto;
}
// .ico-menu.active {
//   display: inline-block;
//   width: 0.8rem;
//   height: 0.12rem;
//   background: url('../img/ico-menu.active.png') no-repeat top center / 0.8rem auto;
// }
// .ico-rect {
//   display: inline-block;
//   width: 0.22rem;
//   height: 0.22rem;
//   background: url('../img/ico-rect.png') no-repeat top center / 0.22rem auto;
// }
.ico-tit-news {
  display: block;
  width: 6.64rem;
  height: 0.76rem;
  background: url('../img/ico-tit-news.png') no-repeat top center / 6.64rem auto;
}
.logo {
  display: inline-block;
  width: 1.08rem;
  height: 1.08rem;
  background: url('../img/logo.png') no-repeat top center / 1.08rem auto;
}
.ico-btn-dl,
.ico-btn-dli,
.ico-btn-more {
  display: inline-block;
  background: url('../img/wap_ico.png') no-repeat top center / 7rem auto;
}
.ico-btn-dl {
  width: 1.8rem;
  height: 0.62rem;
  background-position: -4.23rem -1.28rem;
}
.ico-btn-dli {
  display: block;
  width: 3.64rem;
  height: 1.1rem;
  background-position: 0 -1.28rem;
}
.ico-btn-more {
  display: block;
  width: 7rem;
  height: 0.68rem;
  background-position: 0 0;
}
