<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=Edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="robots" content="follow" />
    <meta name="author" content="f_JyLie,d_,b_,t_2023" />
    <meta name="copyright" content="tanwan" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title></title>
    <!-- prettier-ignore --><!-- <script> if (/android|iphone|ipad|ipod|symbian|micromessenger/g.test(navigator.userAgent.toLowerCase())) { window.location.href = 'h5.html';}</script> -->
    <link rel="stylesheet" href="./css/index-pc.css?v=0" />
    <!-- prettier-ignore --><!--[if lt IE 11]><div id="js-ie-tips" style="display:block;position:absolute;left:0;top:0;width:100%;height:50px;background:#2fc1c6;text-align:center;line-height:50px;font-size:18px;z-index:100"><a style="color:#fff;text-decoration:underline" href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads" target="_blank">当前的浏览器版本过低，可能会影响本网页浏览，建议升级到最新版本。 </a><a href="javascript:void(0);" style="color:#fff" id="js-ie-tips-close" onclick='document.getElementById("js-ie-tips").style.display="none"'>×</a></div><![endif]-->
  </head>

  <body>
    <div class="jy-wrapper">
      <!-- logo -->
      <a href="#" class="c-logo"><img src="./img/logo.png" alt="logo" /></a>
      <div class="navbar">
        <!-- navbar menu -->
        <ul class="nav-content">
          <li class=""><a href="#" class="jy-btn-txt ico-home jy-btn-brightness">游戏官网</a></li>
          <li class=""><a href="#" class="jy-btn-txt ico-dl jy-btn-brightness">微端下载</a></li>
        </ul>

        <!-- 登录状态：按需使用 -->
        <div class="user-stat">
          <!-- 登录前 -->
          <a href="javascript:void(0);" class="jy-btn-txt btn-login text-underline">登录</a>
          <a href="javascript:void(0);" class="jy-btn-txt btn-reg text-underline">注册</a>
          <!-- 登录后 -->
          <span class="label">欢迎您：809206619</span>
          <a href="javascript:void(0);" class="jy-btn-txt text-underline btn-logout">退出</a>
          <a href="javascript:void(0);" class="jy-btn-txt text-underline btn-myprize">我的奖励</a>
        </div>
      </div>

      <div class="jy-section section-1">
        <div class="jy-sectionmain">
          <div class="time ico-time"><span>活动时间：9月13日-9月17日</span></div>
        </div>
        
        <!-- 首屏视频：按需使用 -->
        <!-- <video style="position: absolute;top:0;left:50%;margin-left:-960px;width: 1920px;height: 1084px;object-fit:fill"
        x5-video-player-fullscreen="true" controlsList="nodownload" muted autoplay loop src="./media/b.mp4"></video> -->
      </div>

      <div class="jy-section section-2">
        <div class="jy-sectionmain"></div>
      </div>

      <div class="jy-section section-3">
        <div class="jy-sectionmain"></div>
      </div>

      <div class="jy-section section-4">
        <div class="jy-sectionmain"></div>
      </div>
    </div>

    <script type="text/javascript" src="https://image.tanwan.com/jsCommon/jquery.min.js"></script>
    <script type="text/javascript" src="https://image.tanwan.com/jsCommon/tw_nav_public.js"></script>
    <script type="text/javascript" src="https://image.tanwan.com/jsCommon/clipboard.min.js"></script>
     <script type="text/javascript" src="https://image.tanwan.com/jsCommon/select2/select2.min.js"></script>
    <!-- <script type="text/javascript" src="https://image.tanwan.com/jsCommon/swiper5.2.js"></script> -->
    <!-- <script type="text/javascript" src="https://image.tanwan.com/jsCommon/jquery.rotate.js"></script> -->
    <!-- <script type="text/javascript" src="https://image.tanwan.com/jsCommon/jquery.SuperSlide.2.1.1.js"></script> -->
    <!-- <script type="text/javascript" src="https://image.tanwan.com/jsCommon/danmu.js"></script> -->
    <link href="https://image.tanwan.com/jsCommon/select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="https://image.tanwan.com/jsCommon/dialog/css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://image.tanwan.com/jsCommon/dialog/index.min.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>
    <script type="text/javascript">

    </script>
  </body>
</html>
