* {
  padding: 0px;
  margin: 0px auto;
}
body {
  font-family: "Microsoft YaHei";
  background: #f1f2f3;
  background-size: 100% auto;
  line-height: 180%;
  color: #313233;
}
img {
  border: none;
}

a {
  color: #616263;
  text-decoration: none;
}
a:hover {
  color: #fa7272;
  text-decoration: none;
}
ul {
  list-style: none;
}
.tleftLogo {
  height: 65px;
  width: 388px;
  line-height: 65px;
  font-size: 25px;
  color: #000;
  text-indent: 69px;
  background: url(../images/logo.png) no-repeat left center / 60px auto;
}

.logo-text {
  height: 65px;
  width: 388px;
  line-height: 65px;
  font-size: 25px;
  color: #000;
  text-indent: 69px;
}

#footer_box {
  text-align: center;
  padding: 28px 0;
}
.mainbox {
  width: 1200px;
  background: #fff;
  overflow: hidden;
  margin-top: 30px;
  border-radius: 6px;
}
.mainbox h1 {
  padding: 80px 0px;
  font-size: 48px;
  line-height: 140%;
}
.mainbox h2 {
  margin-bottom: 30px;
  font-weight: 500;
}
.mainbox h2 span {
  background: #de0f0f;
  color: #fff;
  padding: 2px 60px;
  border-radius: 30px;
  text-align: center;
}
.mainbox p {
  width: 640px;
  background: #f7f8f9;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 20px 10px 20px 10px;
  border: 1px solid #d1d2d3;
  border-bottom: 2px solid #c1c2c3;
  border-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}
.mainbox p a {
  padding: 10px 40px;
  border-radius: 6px;
  font-size: 16px;
  background: #fff;
  border: 1px solid #e1e2e3;
  border-bottom: 2px solid #ccc;
  color: #c00;
}
.tuijian2 {
  margin: 5px auto;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  width: 1200px;
}
.mtop {
  margin-top: 20px;
}
.tuijian2 b {
  font-size: 22px;
  font-weight: 400;
}
.tuijian2 li {
  font-size: 14px;
  text-align: left;
  margin: 0px 5px;
}
.tleft {
  float: left;
  text-align: left;
}
.tleft img {
  width: 150px;
  border-radius: 10px;
}
.tright {
  float: right;
  text-align: left;
  width: 784px;
  color: #c1c2c3;
  line-height: 52px;
}
.tright a {
  font-size: 16px;
  padding: 0px 10px;
}
.tright span {
  float: right;
  line-height: 36px;
  margin-top: 10px;
}
.tright span a {
  font-size: 12px;
  padding: 0px 5px;
  color: #039;
}
#pay {
  background: #fa7272;
  padding: 0px 24px;
  border-radius: 4px;
  display: block;
  float: right;
  color: #fff;
  margin-left: 10px;
  line-height: 36px;
}
#pay:hover {
  color: #ff7;
  background: #f05251;
}
#pay2 {
  background: #a7c976;
  padding: 0px 24px;
  border-radius: 4px;
  display: block;
  float: right;
  color: #fff;
  margin-left: 10px;
  line-height: 36px;
}
#pay2:hover {
  color: #ff7;
  background: #83a84f;
}

a.menu,
a.menu2 {
  display: block;
  border-bottom: 4px solid #fff;
  border-left: 1px solid #f1f2f3;
  padding: 9px 10px 0px 10px;
  float: left;
}
a.menu:hover {
  border-bottom: 4px solid #f68;
}
a.menu2 {
  border-bottom: 4px solid #f68;
}

.download {
  width: 830px;
  margin: 10px auto 30px auto;
  height: 90px;
}
.pimage {
  width: 1200px;
  margin: 30px auto 30px auto;
  padding-top: 30px;
  min-height: 200px;
}
.pimage h2 {
  text-align: left;
  font-size: 60px;
  height: 60px;
  color: #fff;
}
.pimage img {
  width: 280px;
  border-radius: 10px;
  margin: 0px 28px 0px 8px;
}
.pimage div {
  margin-bottom: 20px;
  padding: 0px 90px;
  zoom: 1;
}
.pimage div::after {
  content: "\0020";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  opacity: 0;
  font-size: 0;
}
.pimage div span {
  display: block;
  float: left;
  width: 900px;
  font-size: 16px;
  color: #f1f2f3;
}
.pimage div span hr {
  margin: 20px 0px;
  height: 0px;
  border-top: 1px solid #d1d2d3;
}
.pimage div span b {
  font-size: 24px;
}
.pimage div span small {
  color: #f05251;
  font-size: 16px;
}
.pimage div img {
  float: left;
  width: 80px;
}

.gamebox {
  width: 1200px;
  margin: 20px auto 0px auto;
}
.gamebox div {
  float: left;
  padding: 30px 20px;
  border: 1px solid #e1e2e3;
  background: #fff;
  border-radius: 6px;
}
.gamebox div hr {
  border: 0px;
  height: 0px;
  border-top: 1px solid #e1e2e3;
  margin: 10px 0px 30px 0px;
}
.gamebox div img {
  border-radius: 6px;
}
.gamebox div span {
  display: block;
  font-size: 12px;
  line-height: 24px;
  margin-top: 10px;
}
.gamebox div span b {
  font-size: 24px;
}
.gamebox div span small {
  font-size: 16px;
  color: #f05251;
}

.box4 {
  width: 250px !important;
  display: block;
  margin: 30px 0px 30px 40px !important;
}
.box4 img {
  width: 250px;
}

.link {
  width: 1200px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #818283;
}
.link img {
  height: 42px;
  margin: 0px 10px;
}
.link hr {
  border: 0px;
  height: 0px;
  border-top: 1px solid #e1e2e3;
  margin: 10px 0px 30px 0px;
}

.btn02 {
  padding: 10px 20px;
  background: #509c26;
  font-size: 14px;
  color: #fff;
  border-radius: 6px;
}
.btn02:hover {
  background: #438c1a;
  color: #ff7;
}
.btn03 {
  padding: 10px 20px;
  background: #26699c;
  font-size: 14px;
  color: #fff;
  border-radius: 6px;
}
.btn03:hover {
  background: #185889;
  color: #ff7;
}
.btn04 {
  padding: 10px 20px;
  background: #f1f2f3;
  font-size: 14px;
  color: #313233;
  border-radius: 6px;
}
.btn04:hover {
  background: #e1e2e3;
  color: #313233;
}

.pay {
  width: 1200px;
  margin: 30px auto;
  padding-top: 30px;
}
.paytitle {
  text-align: left;
  font-size: 20px;
  height: 40px;
  background: #ad2010;
  margin-right: 50px;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 5px;
  border-bottom: 4px solid #8d170a;
  padding: 10px 0px 0px 20px;
}
.paybox {
  width: 1100px;
  font-size: 12px;
  background: #fff;
  color: #919293;
  border: 1px solid #e1e2e3;
  border-radius: 10px;
  border-left: 6px solid #f05251;
  float: left;
  margin: 5px !important;
  padding: 10px 20px;
}
.paybox b {
  font-size: 20px;
  font-weight: 500;
  color: #f05251;
  margin-bottom: 10px;
}
.paybox li {
  float: right;
  list-style: none;
  text-align: center;
  font-size: 30px;
  color: #f05251;
  margin-top: 20px;
}
.paybox button {
  display: block;
  margin: 5px 5px 10px 5px;
  background: #f05251;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  padding: 10px 20px;
  border: 0px;
}
.paybox span {
  display: block;
  float: left;
  margin-right: 10px;
}

.gamepic {
  padding: 30px;
  width: 1000px;
}
.gamepic img {
  margin: 10px 0px;
}

.gamebg {
  background: #f1f2f3 url("img/dimg4.jpg") no-repeat center 75px;
  background-size: auto 530px;
}
.gamebg2 {
  background: #f1f2f3 url("img/dimg6.jpg") no-repeat center 75px;
  background-size: auto 530px;
}
.gamebg3 {
  background: #f1f2f3 url("img/dimg6.jpg") no-repeat center 75px;
  background-size: auto 530px;
}
.gamebg4 {
  background: #f1f2f3 url("img/dimg7.jpg") no-repeat center 75px;
  background-size: auto 530px;
}
.gamebg5 {
  background: #f1f2f3 url("img/dimg8.jpg") no-repeat center 75px;
  background-size: auto 530px;
}
.gamebg6 {
  background: #f1f2f3 url("img/dimg9.jpg") no-repeat center 75px;
  background-size: auto 530px;
}
.gamebg7 {
  background: #f1f2f3 url("img/dimg7.jpg") no-repeat center 75px;
  background-size: auto 530px;
}

.tiempk {
}
.tiempk img {
  width: 100%;
}
.buttom {
  width: 1200px;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  height: 80px;
  padding-top: 20px;
  color: #666;
  line-height: 24px;
}
.buttom b {
  font-size: 14px;
  display: block;
  color: #f05251;
}
.btn {
  display: block;
  float: left;
  margin: 10px 5px;
  background: #f05251;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  padding: 15px 80px;
}
.btn:hover {
  color: #ff7;
  background: #e33535;
}
.header {
  height: 70px;
  text-align: center;
  margin: 0px;
  padding: 5px 0px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e1e2e3;
  font-weight: 300;
}

.js-silder {
  position: relative;
  min-width: 320px;
}
.silder-scroll {
  width: 100%;
  overflow: hidden;
}
.silder-main {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.silder-main-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.silder-main-img img {
  width: 100%;
}
.js-silder-ctrl {
  width: 100%;
  text-align: center;
}
.silder-ctrl-prev,
.silder-ctrl-next {
  position: absolute;
  top: 0;
  width: 8%;
  height: 100%;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  font-family: "宋体";
  font-size: 52px;
  font-weight: 600;
  text-shadow: #666 2px 2px 5px;
}
.silder-ctrl-prev {
  left: 0;
  text-align: left;
}
.silder-ctrl-next {
  right: 0;
  text-align: right;
}
.silder-ctrl-prev > span,
.silder-ctrl-next > span {
  position: absolute;
  top: 50%;
  margin-top: -40px;
}
.silder-ctrl-prev > span {
  left: 0;
}
.silder-ctrl-next > span {
  right: 0;
}
.silder-ctrl-con {
  display: inline-block;
  width: 4%;
  padding: 10px 0;
  margin: 0 10px;
  cursor: pointer;
}
.silder-ctrl-con > span {
  display: block;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  padding: 5px 0;
  cursor: pointer;
  background-color: #e4e4e4;
}
.silder-ctrl-con.active > span {
  background-color: #f05251;
}

@media (max-width: 768px) {
  .silder-ctrl-prev,
  .silder-ctrl-next {
    width: 10%;
    font-size: 26px;
    margin-top: -25px;
  }
  .silder-ctrl-con {
    width: 14px;
    height: 14px;
    padding: 0;
    margin: 0 5px;
  }
  .silder-ctrl-con > span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 0;
  }
}

.con_mode p {
  font-size: 16px;
  line-height: 30px;
  text-indent: 2em;
}

.con_mode em {
  font-size: 16px;
  line-height: 30px;
  text-indent: 4em;
  display: block;
  font-style: normal;
}

.con_mode h1 {
  font-size: 16px;
  margin-top: 20px;
  line-height: 30px;
}

.con_mode h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.czTab {
  height: 36px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 36px;
}
.czTab a {
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 15px;
}
.czTab a.act {
  background: #ad2010;
  color: #fff;
}

.mhMain {
  width: 800px;
  margin: 0 auto;
}
.mhMain p {
  text-align: center;
  line-height: 108px;
  font-size: 30px;
  font-weight: bold;
}
.mhMain img {
  width: 800px;
}
