@import "./_mixin.scss";

$prefix: ".";
$width: 500px;
$widthWap: 95%;
$animateDuration: 0.3s;

$input-height: 32px;
$input-bg: rgba(0, 0, 0, 0.1);
$input-placeholder: #959595;

#{$prefix}pops {
  &.active {
  }
  &__mask {
  }
  &__wrapper {
  }
  &__main {
    @extend %ui__main;

    @media screen and (max-width: 750px) {
    }
  }
  &__header {
    @extend %ui__header;

    &--fix {
      @extend %ui__header--fix;
    }
  }
  &__body {
    @extend %ui__body;
  }
  &__btn {
    &__icon {
      @extend %ui__btn__icon;
    }
    &__ok {
      @extend %ui__btn__ok;
    }
    &__ac {
    
    }
    &__select {
      option {
        // color: #333;
      }
    }
  }
  &__code {
    @extend %ui__code;
  }

  &__scrollbar {
    // max-height: 80vh;
    // max-height: 300px;
    // overflow: auto;
    // @include scrollbar();
  }
  &__prefix {
    // margin: 0 auto 20px;
    // text-align: center;
    // width: 80%;
  }
  &__suffix {
    // margin: 20px auto 0;
    // text-align: center;
    // width: 80%;
  }
  &__footer {
    // @include mauto();
    // text-align: center;
    // width: 80%;
    // font-size: 12px;
    // // color: #ee0000;
  }
  &__text {
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: 0;
    // margin-bottom: 0;
    // padding: 0;
    // text-align: center;
    // line-height: 1.6;
    // list-style: none;
  }
  &__cell {
    // position: relative;
    // display: flex;
    // line-height: normal;
    // align-items: center;
    // // line-height: 1.5;
    // // font-size: 16px;
    // // color: rgba(0, 0, 0, 0.9);
    &__hd {
      // padding-right: 16px;
    }
    &__bd {
      // position: relative;
      // display: flex;
      // flex: 1;
      // line-height: normal;
      // min-width: 0;
    }
  }
  &__control {
    // margin-left: auto;
    // margin-right: auto;
    // width: 80%;
    @media screen and (max-width: 750px) {
      // width: 100%;
    }
    &__cells + &__cells {
      // margin-top: 10px;
    }
    &--label {
    }
    &--input {
      @extend %ui__control__input;
    }
    &--select {
      @extend %ui__control__select;
      option {
        // color: #333;
      }
    }
  }
  &__link {
  }
  &__grid {
    @extend %pops__grid;
    &__tr {
      @extend %pops__grid__tr;
    }
    &__td {
      @extend %pops__grid__td;
      span {
        // display: inline-block;
        // text-align: left;
      }
      &:nth-of-type(1) {
        // width: 50%;
        // flex-shrink: 0;
      }
      &:nth-of-type(2) {
        // width: 50%;
        // flex-shrink: 0;
      }
    }
    &__thead {
      @extend %pops__grid__thead;
    }
    &__tbody {
    //   width: 100%;
    //   max-height: 600px;
    //   max-height: 30vh;
    //   overflow: auto;
    //   @include scrollbar();
      @extend %pops__grid__tbody;
    }

    &--line {
      @extend %pops__grid--line;
    }
    &--stripes {
      %pops__grid__thead {
        // background: transparent;
      }
      %pops__grid__tbody {
        %pops__grid__tr {
          // margin-top: 10px;
        }
      }
    }
  }

  &__mt {
    // margin-top: 20px;
    // text-align: center;
  }
  &__mb {
    // margin-bottom: 20px;
    // text-align: center;
  }
  &__table {
    td {
      &:nth-of-type(1) {
        // width: 60%;
      }
      &:nth-of-type(2) {
        // width: 40%;
      }
    }

    &,
    & tr th,
    & tr td {
      // border: 1px solid #{$input-bg};
    }

    thead {
      // background: $input-bg;
    }
    // }
  }

  // UI Theme: pops-h5
  &--h5 {
    $input-bg: rgba(0, 0, 0, 0.25);
    $input-placeholder: #e6f5d4;
    $grid-border: 1px solid $input-bg;
    %ui__main {
      border: 8px solid #628544;
      color: #c1df9a;
      // background: #8e0d0d linear-gradient(#8e0d0d, #950e0e);
      background: #296845;
    }
    %ui__header {
      padding: 20px 0 0;
      color: #c1df9a;
    }
    %ui__header--fix {
      &::before {
        // content: "★";
        // width: inherit;
        // height: inherit;
      }
      &::after {
        // content: "★";
        // width: inherit;
        // height: inherit;
      }
    }
    %ui__body {
      // width: ($width - 60px);
      // padding: 0 0 50px;
      // background: #fff0d6;
      // border-radius: 0 0 0.3rem 0.3rem;
    }
    %ui__btn__icon {
    }
    %ui__btn__ok {
      // @include lh(60px);
      line-height: normal;
      box-shadow: 0 1px 2px #f06868;
      // border: 0.02rem solid #d67029;
      // border-radius: 30px;
      // font-weight: bold;
      color: #cc6e24;
      background: #fcce4a linear-gradient(#fede7d, #fcce4a);
    }
    %ui__code {
      background: $input-bg;
    }
    %ui__control__input {
      @include inputbg($input-bg);
      @include inputcolor(inherit, $input-placeholder);
    }
    %ui__control__select {
      @include inputbg($input-bg);
      @include inputcolor(inherit, $input-placeholder);
    }
    %pops__grid {
      %pops__grid__thead {
        z-index: 1;
        background: $input-bg;
      }
      %pops__grid__tbody {
      }

      %pops__grid__td {
        background: $input-bg;
      }
    }
    %pops__grid--line {
      %pops__grid__tbody {
        border: $grid-border;
        %pops__grid__td {
          &:not(:last-of-type) {
            border-bottom: $grid-border;
            border-right: $grid-border;
          }
          &:last-of-type {
            border-bottom: $grid-border;
          }
        }
      }
    }
  }
}
