@charset "UTF-8";
@import "./_const.scss";
@import "./_mixin.scss";
@import "./_util_size.scss";
@import "./_sprite.scss";
@import "./lib_wap/_index.scss";

.logo__cont {
  // position: fixed;
  position: absolute;
  top: 0.22rem;
  left: 0.22rem;
  z-index: 10;

  $width: 1.88rem;
  width: $width;
  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

.auth__cont {
  // position: fixed;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  padding: 0 0.12rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  font-size: 0.24rem;
  white-space: nowrap;
  // color: #333;
  z-index: 10;
  .btn-login {
    display: inline-block;
    vertical-align: middle;
  }
  .btn-logout {
    padding: 0 0.1rem;
    display: inline-block;
    vertical-align: middle;
    // color: #ff0000;
  }
  .nickname {
    padding: 0 0.1rem;
    display: inline-block;
    max-width: 3rem;
    overflow: hidden;
    text-align: right;
    vertical-align: middle;
    text-overflow: ellipsis;
  }
  // i {
  //   padding: 0 0.04rem;
  //   display: none;
  //   display: inline-block;
  //   overflow: hidden;
  //   font-style: normal;
  //   color: #fff;
  // }
}

// .ico-btn-com {
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   span {
//     padding-bottom: -0.03rem;
//     position: relative;
//     margin-left: 0.08rem;
//     color: #b5925e;
//     // text-decoration: underline;
//     &::before {
//       content: '';
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       border-bottom: 0.016rem solid #b5925e;
//       transition: all 0.2s linear;
//     }
//   }
//   &:hover {
//     span {
//       transition: all 0.2s linear;
//       // text-decoration: none;
//       &::before {
//         content: '';
//         position: absolute;
//         bottom: -0.03rem;
//         left: 0;
//         right: 0;
//         border-bottom: 1px solid #b5925e;
//         transition: all 0.3s linear;
//         opacity: 0;
//       }
//     }
//   }
// &.disable {
//   filter: grayscale(1);
//   opacity: 0.8;
//   pointer-events: none;
// }
// }

// .ico-btn-com {
//   padding: 0.12rem 0.24rem;
//   display: inline-block;
//   border-radius: 0.5rem;
//   font-size: 0.22rem;
//   font-weight: bold;
//   color: #ffe7c1;
//   background: linear-gradient(#6f0a12, #781016, #911e1f, #a82a27);
// }
