/**
 * @description:  util for size
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath:
 * @warning:
 */

/* common fontsize */
.fs-100 {
  font-size: 100px;
}
.fs-80{
  font-size: 80px;
}
.fs-60 {
  font-size: 60px;
}
.fs-50 {
  font-size: 50px;
}
.fs-40 {
  font-size: 40px;
}
.fs-38 {
  font-size: 38px;
}
.fs-36 {
  font-size: 36px;
}
.fs-34 {
  font-size: 34px;
}
.fs-32 {
  font-size: 32px;
}
.fs-30 {
  font-size: 30px;
}
.fs-28 {
  font-size: 28px;
}
.fs-26 {
  font-size: 26px;
}
.fs-24 {
  font-size: 24px;
}
.fs-22 {
  font-size: 22px;
}
.fs-20 {
  font-size: 20px;
}
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px;
}
.fs-15 {
  font-size: 15px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}
.fs-10 {
  font-size: 10px;
}
.fs-0 {
  font-size: 0;
}
