// font-size
$fs-primary: 24px; // 专题默认字体大小
$w-main: initial; // 尺寸宽

// color
$color-theme-bg: #fff;
$color-primary: #5e82cc;
$color-yellow: #fdff2d;
$color-orange: #ffc23e;
$color-green: #cdffa8;
$color-grey: #666;
$color-deep-grey: #333;
$color-red: #e02f2f;
$color-pink: pink;
$color-blue: #7adafa;
$btn-txt-color: #fff;
$btn-bg-color: #000;

