.btn-apoint{display:inline-block;background: url("../img/sprite.png") no-repeat 0px 0px / 829px auto;width:420px;height:96px;}
.btn-google{display:inline-block;background: url("../img/sprite.png") no-repeat -224px -424px / 829px auto;width:174px;height:51px;}
.btn-ios{display:inline-block;background: url("../img/sprite.png") no-repeat 0px -424px / 829px auto;width:174px;height:52px;}
.btn-pagination.active{display:inline-block;background: url("../img/sprite.png") no-repeat -550px -330px / 829px auto;width:30px;height:30px;}
.btn-pagination{display:inline-block;background: url("../img/sprite.png") no-repeat -470px -330px / 829px auto;width:30px;height:30px;}
.btn-pop-close{display:inline-block;background: url("../img/sprite.png") no-repeat -669px -225px / 829px auto;width:34px;height:34px;}
.btn-pop-share{display:inline-block;background: url("../img/sprite.png") no-repeat 0px -292px / 829px auto;width:359px;height:82px;}
.btn-pop-submit{display:inline-block;background: url("../img/sprite.png") no-repeat -470px 0px / 829px auto;width:359px;height:82px;}
.btn-pre{display:inline-block;background: url("../img/sprite.png") no-repeat 0px -146px / 829px auto;width:420px;height:96px;}
.i-gift.active{display:inline-block;background: url("../img/sprite.png") no-repeat -669px -132px / 829px auto;width:43px;height:43px;}
.i-gift{display:inline-block;background: url("../img/sprite.png") no-repeat -762px -132px / 829px auto;width:43px;height:43px;}
.i-play-btn{display:inline-block;background: url("../img/sprite.png") no-repeat -753px -225px / 829px auto;width:29px;height:34px;}
.i-play-img{display:inline-block;background: url("../img/sprite.png") no-repeat -470px -132px / 829px auto;width:149px;height:148px;}

.bb1{display:inline-block;width: 794px; height: 553px; background: url("../img/bb1.png") no-repeat;}
.bg-pop-1{display:inline-block;width: 907px; height: 558px; background: url("../img/bg-pop-1.png") no-repeat;}
.bg-pop-2{display:inline-block;width: 1005px; height: 624px; background: url("../img/bg-pop-2.png") no-repeat;}
.bg-txt-2{display:inline-block;width: 960px; height: 381px; background: url("../img/bg-txt-2.png") no-repeat;}
.bg1{display:inline-block;width: 1920px; height: 936px; background: url("../img/bg1.jpg") no-repeat;}
.bg2{display:inline-block;width: 1920px; height: 863px; background: url("../img/bg2.jpg") no-repeat;}
.bg3{display:inline-block;width: 1920px; height: 651px; background: url("../img/bg3.jpg") no-repeat;}
.bgh{display:inline-block;width: 1920px; height: 950px; background: url("../img/bgh.jpg") no-repeat;}
.i-dp{display:inline-block;width: 11px; height: 11px; background: url("../img/i-dp.png") no-repeat;}
.logo{display:inline-block;width: 393px; height: 216px; background: url("../img/logo.png") no-repeat;}

