@import "./_const.scss";
@import "./_mixin.scss";

body {
  margin-left: auto;
  margin-right: auto;
  min-width: 1200px;
  font: #{$fs-primary}/ 1 "fcustom","微软雅黑";
  color: $color-primary;
  background: $color-theme-bg;
}

.lh-15 {
  line-height: 1.5;
}
.lh-20 {
  line-height: 2;
}

.vertical-top {
  vertical-align: top;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-bottom {
  vertical-align: bottom;
}
.vertical-baseline {
  vertical-align: baseline;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "\0020";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
  opacity: 0;
  font-size: 0;
}
.float_l {
  float: left;
}
.float_r {
  float: right;
}
.hide {
  display: none;
  opacity: 0;
}
.vf_hide {
  overflow: hidden;
}

.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.select-tc{
  text-align: center;
  -moz-text-align-last:center;
       text-align-last:center;
}

.flighter {
  font-weight: lighter;
}
.fnormal {
  font-weight: normal;
}
.fb {
  font-weight: bold;
}

.text-indent {
  text-indent: 2em;
}
.text-underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.text-none {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.fs-50 {
  font-size: 50px;
}
.fs-40 {
  font-size: 40px;
}
.fs-38 {
  font-size: 38px;
}
.fs-36 {
  font-size: 36px;
}
.fs-34 {
  font-size: 34px;
}
.fs-32 {
  font-size: 32px;
}
.fs-30 {
  font-size: 30px;
}
.fs-28 {
  font-size: 28px;
}
.fs-26 {
  font-size: 26px;
}
.fs-24 {
  font-size: 24px;
}
.fs-22 {
  font-size: 22px;
}
.fs-20 {
  font-size: 20px;
}
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}
.fs-10{
  font-size: 10px;
}
.fs-0{
  font-size: 0;
}

.mauto {
  margin-left: auto;
  margin-right: auto;
}
.ml-5 {
  margin-left: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.ml-25 {
  margin-left: 25px;
}
.mt-25 {
  margin-top: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.ml-35 {
  margin-left: 35px;
}
.mt-35 {
  margin-top: 35px;
}
.ml-40 {
  margin-left: 40px;
}
.mt-40 {
  margin-top: 40px;
}
.ml-50 {
  margin-left: 50px;
}
.mt-50 {
  margin-top: 50px;
}
.ml-60 {
  margin-left: 60px;
}
.mt-60 {
  margin-top: 60px;
}

.pl-5 {
  padding-left: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pl-25 {
  padding-left: 25px;
}
.pt-25 {
  padding-top: 25px;
}
.pl-30 {
  padding-left: 30px;
}
.pt-30 {
  padding-top: 30px;
}
.pl-35 {
  padding-left: 35px;
}
.pt-35 {
  padding-top: 35px;
}
.pl-40 {
  padding-left: 40px;
}
.pt-40 {
  padding-top: 40px;
}
.pl-50 {
  padding-left: 50px;
}
.pt-50 {
  padding-top: 50px;
}
.pl-60 {
  padding-left: 60px;
}
.pt-60 {
  padding-top: 60px;
}

.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
.text-yellow {
  color: $color-yellow;
}
.text-orange {
  color: $color-orange;
}
.text-red {
  color: $color-red;
}
.text-blue {
  color: $color-blue;
}
.text-pink {
  color: $color-pink;
}
.text-green {
  color: $color-green;
}
.text-grey {
  color: $color-grey;
}
.text-deep-grey {
  color: $color-deep-grey;
}

.prelative {
  position: relative;
}
.pabsolute{
  position: absolute;
}
.pfixed{
  position: fixed;
}
.absolute-0 {
  position: absolute;
  top: 0;
  left: 0;
}

.flow_block {
  display: block;
}
.flow_inline {
  display: inline;
}
.flow_inblock {
  display: inline-block;
}

.jy-flex {
  display: -webkit-box;
  display: flex;
}
.jy-flex-c {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.jy-flex-vc {
  -webkit-box-align: center;
  align-items: center;
}
.jy-flex-hc {
  -webkit-box-pack: center;
  justify-content: center;
}
.jy-flex-hspace {
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.jy-flex-g5 {
  width: 50%;
  -webkit-box-flex: 50%;
  flex: 50%;
}
.jy-flex-g4 {
  width: 40%;
  -webkit-box-flex: 40%;
  flex: 40%;
}
.jy-flex-g3 {
  width: 30%;
  -webkit-box-flex: 30%;
  flex: 30%;
}
.jy-flex-g2 {
  width: 20%;
  -webkit-box-flex: 20%;
  flex: 20%;
}
.jy-flex-wrap {
  flex-wrap: wrap;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fill-100 {
  width: 100%;
  height: 100%;
}

.jy-btn {
  cursor: pointer;
  z-index: 100;
  text-indent: -9999px;
  font-size: 0;
  line-height: 1;
  overflow: hidden;
}
.jy-btn-txt {
  cursor: pointer;
  z-index: 100;
}
.jy-btn-brightness {
  &:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
  }
}
.jy-btn-primary {
  display: inline-block;
  cursor: pointer;
  color: $btn-txt-color;
  background-color: $btn-bg-color;
  z-index: 100;
}
.opacity-0 {
  opacity: 0;
}

.jy-tit {
  overflow: hidden;
  text-indent: -9999px;
  font-size: 0;
}
.jy-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.jy-headermain {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  zoom: 1;
  box-sizing: border-box;
}
.jy-section {
  position: relative;
  margin: 0 auto;
  width: $w-main;
  background: no-repeat top center;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.jy-sectionmain {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  zoom: 1;
  background: no-repeat top center;
  box-sizing: border-box;
}
.jy-sectionmain-x {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
  zoom: 1;
  background: no-repeat top center;
  box-sizing: border-box;
}
