.bg1{
                display:inline-block;
                width:19.20rem;
                height:6.61rem;
                background: url("../img/bg1.jpg") no-repeat top center / contain;
              }
.bg2{
                display:inline-block;
                width:19.20rem;
                height:10.53rem;
                background: url("../img/bg2.jpg") no-repeat top center / contain;
              }
.bgh{
                display:inline-block;
                width:19.20rem;
                height:9.72rem;
                background: url("../img/bgh.jpg") no-repeat top center / contain;
              }
.bghm{
                display:inline-block;
                width:12.00rem;
                height:9.72rem;
                background: url("../img/bghm.jpg") no-repeat top center / contain;
              }
.ico-lottery-panel.active{
                display:inline-block;
                width:1.20rem;
                height:0.81rem;
                background: url("../img/ico-lottery-panel.active.png") no-repeat top center / contain;
              }
.ico-lottery-panel{
                display:inline-block;
                width:1.20rem;
                height:0.81rem;
                background: url("../img/ico-lottery-panel.png") no-repeat top center / contain;
              }
.ico-navbar{
                display:inline-block;
                width:1.58rem;
                height:0.33rem;
                background: url("../img/ico-navbar.png") no-repeat top center / contain;
              }
.ico-plate{
                display:inline-block;
                width:3.25rem;
                height:2.34rem;
                background: url("../img/ico-plate.png") no-repeat top center / contain;
              }
.ico-qr{
                display:inline-block;
                width:1.26rem;
                height:4.99rem;
                background: url("../img/ico-qr.png") no-repeat top center / contain;
              }
.ico-role{
                display:inline-block;
                width:2.43rem;
                height:5.21rem;
                background: url("../img/ico-role.png") no-repeat top center / contain;
              }
.logo{
                display:inline-block;
                width:1.74rem;
                height:0.85rem;
                background: url("../img/logo.png") no-repeat top center / contain;
              }
.p1{
                display:inline-block;
                width:10.94rem;
                height:3.29rem;
                background: url("../img/p1.png") no-repeat top center / contain;
              }
.p2{
                display:inline-block;
                width:11.08rem;
                height:6.39rem;
                background: url("../img/p2.png") no-repeat top center / contain;
              }
