@import "../_const.scss";
@import "../_mixin.scss";

.danmu__unit {
  position: relative;
  @include mauto();
  .danmu__box {
    position: relative;
    @include mauto();
    width: 1095px;
    height: 278px;
    border: 2px solid #c64b2e;
    box-sizing: border-box;
    font-size: 20px;
    color: #f8dbae;
    background-color: #ffc8ba;
    overflow: hidden;
    z-index: 5;
  }
  .danmu_item,
  .mydanmu {
    padding: 5px 24px;
    white-space: nowrap;
    border-radius: 20px;
    font-size: inherit;
    background-color: #c64b2e;
    // z-index: 1 !important;
  }
  .danmu__send {
    margin-top: 28px;
    @include mauto();
    display: flex;
    width: 800px;
    height: 47px;
    line-height: 47px;
  }
  .danmu__input {
    position: relative;
    flex: 1;
    height: 100%;
    line-height: 1;
    box-sizing: border-box;
    border: 2px solid #3e96c2;
    font-size: 24px;
    @include inputcolor(#9f9f9f);
    background: #fff;

    $msg-color: #dab791;
    input {
      padding: 0 25px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      @include inputcolor($msg-color);
      background: transparent;
      border: 0;
      &:focus {
        outline: none;
      }
    }
    select {
      padding: 0 25px;
      width: 100%;
      height: 100%;
      border: 0;
      box-sizing: border-box;
      @include inputcolor($msg-color);
      background: transparent;
    }
  }
  .danmu__btn {
    @include flex-width(129px);
    text-align: center;
    font-size: 20px;
    color: #f8dbae;
    background-color: #ffc8ba;
  }
}

// <div class="danmu__unit">
//   <div class="danmu__box" id="danmuStage"></div>
//   <div class="danmu__send">
//     <div class="danmu__input" id="danmuInput">
//       <input placeholder="点击此处输入答案" type="text" class="" />
//       <!-- <select name="" id="">
//     <option value="">点击此处输入答案</option>
//   </select> -->
//     </div>
//     <a href="javascript:;" class="jy-btn-txt ico-btn-submit danmu__btn" id="danmuBtn">提交</a>
//   </div>
// </div>
