/**
 * @description:  pc 摇骰子 style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */

@import '../_const.scss';
@import '../_mixin.scss';

.i-dot-1 {
  display: inline-block;
  background: url('../img/ico-dice.png') no-repeat 0px 0px / 207px auto;
  width: 29px;
  height: 32px;
}
.i-dot-2 {
  display: inline-block;
  background: url('../img/ico-dice.png') no-repeat -89px 0px / 207px auto;
  width: 29px;
  height: 32px;
}
.i-dot-3 {
  display: inline-block;
  background: url('../img/ico-dice.png') no-repeat -178px 0px / 207px auto;
  width: 29px;
  height: 32px;
}
.i-dot-4 {
  display: inline-block;
  background: url('../img/ico-dice.png') no-repeat 0px -92px / 207px auto;
  width: 29px;
  height: 32px;
}
.i-dot-5 {
  display: inline-block;
  background: url('../img/ico-dice.png') no-repeat -89px -92px / 207px auto;
  width: 29px;
  height: 32px;
}
.i-dot-6 {
  display: inline-block;
  background: url('../img/ico-dice.png') no-repeat -178px -92px / 207px auto;
  width: 29px;
  height: 32px;
}
.ico-jlottery {
  display: inline-block;
  width: 106px;
  height: 100px;
  background: url('../img/ico-dice-panel.png') no-repeat;
}
.jdot-content {
  position: absolute;
  left: 720px;
  top: 194px;
  text-align: center;
}
.btn-dot-i {
  position: absolute;
  top: 30px;
  left: 40px;
}
.btn-jdot {
  position: absolute;
  top: 86px;
  left: 50%;
  margin-left: -55px;
  cursor: not-allowed;
  i {
    display: none;
  }
  &.active {
    cursor: pointer;
    animation: pulse 1s infinite;
    // i {
    //   display: block;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   &::before {
    //     content: "";
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: 10px;
    //     height: 10px;
    //     margin: -5px 0 0 -5px;
    //     background: #fff;
    //     border-radius: 50%;
    //     animation: redatwinkle 2s ease infinite;
    //   }
    // }
  }
}
