/**
 * @description:  pc list style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */

@import "../_const.scss";
@import "../_mixin.scss";

.list__unit {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  // width: 740px;
  // color: #949494;
  .list__title {
    display: inline-block;
    padding: 0 0 0 6px;
    font-size: 16px;
    font-weight: bold;
    color: #ffcf97;
    // font-size: 18px;
    // padding: 0 15px;
    // border: 1px solid #b3905d;
    // border-radius: 30px;
    // @include lh(30px);
    // background: #25272a;
    // padding-bottom: 10px;
  }
  .list__content {
    margin-top: 16px;
    position: relative;
    // line-height: 1.5;
    li {
      $padding-left: 2em;
      $width: 20px;

      // margin: 7px 0;
      padding: 0 0 0 $padding-left;
      position: relative;
      font-size: inherit;
      list-style: none;
      color: inherit;

      @for $i from 1 through 20 {
        &:nth-of-type(#{$i}) {
          &::before {
            content: "#{$i}.";
            display: block;
            position: absolute;
            top: 0.2em;
            left: 0;
            // transform: translateY(-50%) rotate(0deg);
            display: flex;
            justify-content: center;
            align-items: center;
            width: $width;
            height: $width;
            border-radius: 50%;
            line-height: normal;
            text-align: center;
            font-size: inherit;
            color: #fff;
            background-color: #be0d0d;
          }
        }
      }
      i,
      span {
        display: inline-block;
        vertical-align: middle;
      }
      span {
      }
      // i {
      //   position: absolute;
      //   left: 0;
      //   top: 4px;
      //   text-align: center;
      //   width: $width;
      //   height: $width;
      //   line-height: $width;
      //   font-size: 14px;
      //   color: #ffcf97;
      //   background: #831c16;
      //   border-radius: 50%;
      // }
    }
  }
}

// <div class="list__unit">
//   <div class="list__title fb">活动规则：</div>
//   <ol class="list__content lh-15">
//     <li>
//       <i>1</i>
//       被邀玩家只能在每日新开的区服中创角才算成功参与活动。
//     </li>
//     <li>
//       <i>2</i>
//       参与活动需要登录账号并绑定手机号，一个手机号只能参与一次活动。
//     </li>
//   </ol>
// </div>
