.lottery__unit {
  $top: 140px;
  $left: 210px;
  $gutter: 10px;

  position: relative;
  width: 620px;
  height: 410px;
  text-align: center;

  .lottery__content {
  }

  .lottery__item {
    position: absolute;
    width: $left - $gutter;
    height: $top - $gutter;
    text-align: center;
    background-color: #e9e9e9;
    overflow: hidden;
    .avatar {
      padding-top: 20px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70px;
      img {
        margin: 0 auto;
        display: block;
      }
    }
    .name {
      font-size: 14px;
      color: #c8af73;
    }

    &:nth-of-type(1) {
      top: $top * 0;
      left: $left * 0;
    }
    &:nth-of-type(2) {
      top: $top * 0;
      left: $left * 1;
    }
    &:nth-of-type(3) {
      top: $top * 0;
      left: $left * 2;
    }
    &:nth-of-type(4) {
      top: $top * 1;
      left: $left * 2;
    }
    &:nth-of-type(5) {
      top: $top * 2;
      left: $left * 2;
    }
    &:nth-of-type(6) {
      top: $top * 2;
      left: $left * 1;
    }
    &:nth-of-type(7) {
      top: $top * 2;
      left: $left * 0;
    }
    &:nth-of-type(8) {
      top: $top * 1;
      left: $left * 0;
    }
    &.active {
      pointer-events: none;
      filter: brightness(1.2);
      transform: scale(1.05);
      opacity: 0.8;
    }
  }
  .lottery__extra {
    position: absolute;
    top: $top * 1;
    left: $left * 1;
    width: (2 * $left - $gutter);
    height: (2 * $top - $gutter);
    text-align: center;
    box-sizing: border-box;
  }
  .lottery__btn {
    font-size: 24px;
    color: #603209;
    // background-color: #e9e9e9;
  }
  .lottery__status {
    display: block;
    padding-top: 102px;
    box-sizing: border-box;
    span {
      // font-size: 16px;
      // font-weight: bold;
    }
  }
}

// <div class="lottery__unit">
//   <div class="lottery__content">
//     <!-- (.lottery__item.ico-lottery-item>((.avatar>i.ico-lottery-$)+.name))*8 -->
//     <div class="lottery__item ico-lottery-item">
//       <div class="avatar"><i class="ico-lottery-1"></i></div>
//       <div class="name">1000灵符</div>
//     </div>
//     <div class="lottery__item ico-lottery-item">
//       <div class="avatar"><i class="ico-lottery-2"></i></div>
//       <div class="name">2000灵符</div>
//     </div>
//     <div class="lottery__item ico-lottery-item">
//       <div class="avatar"><i class="ico-lottery-3"></i></div>
//       <div class="name">谢谢参与</div>
//     </div>
//     <div class="lottery__item ico-lottery-item">
//       <div class="avatar"><i class="ico-lottery-4"></i></div>
//       <div class="name">10000灵符</div>
//     </div>
//     <div class="lottery__item ico-lottery-item">
//       <div class="avatar"><i class="ico-lottery-5"></i></div>
//       <div class="name">贪玩定制鼠标垫</div>
//     </div>
//     <div class="lottery__item ico-lottery-item">
//       <div class="avatar"><i class="ico-lottery-6"></i></div>
//       <div class="name">5000灵符</div>
//     </div>
//     <div class="lottery__item ico-lottery-item">
//       <div class="avatar"><i class="ico-lottery-7"></i></div>
//       <div class="name">贪玩定制键盘</div>
//     </div>
//     <div class="lottery__item ico-lottery-item">
//       <div class="avatar"><i class="ico-lottery-8"></i></div>
//       <div class="name">价值100礼包</div>
//     </div>
//   </div>
// <div class="lottery__extra pt-5">
//   <a href="javascript:;" class="jy-btn-txt lottery__btn ico-lottery-btn jlottery-btn">
//     <div class="lottery__status">
//       剩余抽奖次数
//       <span>2</span>
//       次
//     </div>
//   </a>
//   <div class="mt-0">
//     <a href="javascript:;" class="jy-btn btn-reg"></a>
//     <a href="javascript:;" class="jy-btn btn-record ml-10"></a>
//   </div>
// </div>
// </div>
