//  * @description:  pc 文章内容详情样式
//  * @author: liejiayong(809206619@qq.com)
//  * @Date: 2020-06-15 11:27:17
//  * @LastEditors: liejiayong(809206619@qq.com)
//  * @LastEditTime: 2021-12-11 17:06:29
//  * @FilePath:

@import "../_const.scss";
@import "../_mixin.scss";

$ebook_header: 0.9rem;
// 文章页面头部
.ebook__navbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  text-align: center;
  line-height: $ebook_header;
  height: $ebook_header;
  color: #ffffdd;
  font-size: 0.28rem;
  background-color: #2c2e34;
  .ebook__navbar__btn {
    font-size: 0.24rem;
    color: #ffffdd;
    position: absolute;
    left: 0.4rem;
    height: 1rem;
    width: 1rem;
  }
}

// <meta name="viewport" content="width=device-width, initial-scale=1.0">

// <div class="ebook__navbar">
//   <a href="./index.html" class="ebook__navbar__btn">&lt; 返回</a>
//   新闻中心
// </div>

// 文章内容container
.ebook__ {
  &unit {
    position: relative;
    font-size: 14px;
    color: #b8b8b8;
    background: #fff;
  }
  &header {
    padding: 20px 0 20px;
    border-bottom: 1px solid #e6e6e6;
    line-height: 1.15;
    text-align: center;
    h3 {
      // padding-top: 30px;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
      font-size: 22px;
      line-height: 1.5;
      // font-weight: bold;
    }
    p {
      padding: 10px 0.5em;
      // opacity: 0.6;
      // color: #757982;
    }
  }
  &bodyer {
    padding: 30px 0 100px;
    width: 100%;
    /* color: #827569; */
    line-height: 1.8;
    img {
      margin: 10px auto;
      display: block;
      max-width: 95%;
    }
    p {
      padding: 10px 0.5em;
      text-indent: 2em;
    }
  }
}

// <div class="ebook__unit">
//   <div class="ebook__header">
//     <h3>小苍、林阿兔直播助力《天龙八部手游》情满江湖资料片震撼开</h3>
//     <p>发布日期：2018-07-23 17:01:20</p>
//   </div>
//   <div class="ebook__bodyer">
//     <p>
//       《麻雀飞青天》是一款的古风官斗手游。游戏展现了古代尔虞我诈的官场智斗，颠覆传统的官斗玩法为你带来一场步步惊心的传奇。十年寒窗苦读，一朝金榜题名，官斗之余府邸小憩，娇妻相伴，金玉满堂，享田园轻趣时光；千古门客尽入门墙，谈笑间位极人臣；联盟争斗步步惊心，联盟战场一决高下。
//     </p>
//     <img src="./img/ban1.jpg" />
//     <p>
//       《麻雀飞青天》是一款的古风官斗手游。游戏展现了古代尔虞我诈的官场智斗，颠覆传统的官斗玩法为你带来一场步步惊心的传奇。十年寒窗苦读，一朝金榜题名，官斗之余府邸小憩，娇妻相伴，金玉满堂，享田园轻趣时光；千古门客尽入门墙，谈笑间位极人臣；联盟争斗步步惊心，联盟战场一决高下。
//     </p>
//     <p>
//       《麻雀飞青天》是一款的古风官斗手游。游戏展现了古代尔虞我诈的官场智斗，颠覆传统的官斗玩法为你带来一场步步惊心的传奇。十年寒窗苦读，一朝金榜题名，官斗之余府邸小憩，娇妻相伴，金玉满堂，享田园轻趣时光；千古门客尽入门墙，谈笑间位极人臣；联盟争斗步步惊心，联盟战场一决高下。
//     </p>
//     <p>
//       《麻雀飞青天》是一款的古风官斗手游。游戏展现了古代尔虞我诈的官场智斗，颠覆传统的官斗玩法为你带来一场步步惊心的传奇。十年寒窗苦读，一朝金榜题名，官斗之余府邸小憩，娇妻相伴，金玉满堂，享田园轻趣时光；千古门客尽入门墙，谈笑间位极人臣；联盟争斗步步惊心，联盟战场一决高下。
//     </p>
//   </div>
// </div>

// news-detail.html 响应式pc和wap
html {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 50px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 56.25px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 58.59375px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 62.5px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 64.6875px;
  }
}
@media screen and (min-width: 440px) {
  html {
    font-size: 68.75px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 75px;
  }
}
@media screen and (min-width: 520px) {
  html {
    font-size: 81.25px;
  }
}
@media screen and (min-width: 560px) {
  html {
    font-size: 87.5px;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 93.75px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 680px) {
  html {
    font-size: 106.25px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 112.5px;
  }
}
@media screen and (min-width: 760px) {
  html {
    font-size: 118.75px;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 125px;
  }
}
@media screen and (min-width: 960px) {
  html {
    font-size: 150px;
  }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  html {
    font-size: -webkit-calc(100vw / 7.5);
    font-size: -moz-calc(100vw / 7.5);
    font-size: calc(100vw / 7.5);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    font-size: 0.24rem;
    min-width: 100%;
  }
  .terminal-wap {
    min-width: 100%;
    .ebook__header {
      display: block;
    }
    .jy-header,
    .user-container,
    .aside-oth,
    .header-oth,
    .jy-title__ny__container {
      display: none;
    }
    .main-oth {
      padding-top: $ebook_header;
      width: 100%;
      min-height: calc(100vh - 0.9rem);
      .panel-wrapper {
        margin: 0;
        border: 0;
        flex: 1;
        width: 100%;
        background: #1e2839;
      }
    }
    .ebook__unit {
      font-size: 0.22rem;
      .header {
        padding: 0 0 0.2rem;
        h3 {
          font-size: 0.28rem;
        }
        p {
          padding-top: 0.1rem;
        }
      }
      .body {
        padding: 0.3rem 0 1rem;

        img {
          margin: 0.1rem auto;
          display: block;
          max-width: 90%;
          width: 100%;
        }
        p {
          padding: 0.1rem 0;
          text-indent: 2em;
        }
      }
    }
  }
}
