//  * @description:  pc news_sections style 新闻板块
//  * @author: liejiayong(809206619@qq.com)
//  * @Date: 2020-06-15 11:27:17
//  * @LastEditors: liejiayong(809206619@qq.com)
//  * @LastEditTime: 2021-12-11 17:06:29
//  * @FilePath:
//  * swiper@v5.x

@import '../_const.scss';
@import '../_mixin.scss';

.jy-news__container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @include flex-width(532px);
  height: 392px;
  overflow: hidden;
  background-color: #191a22;
}

.jy-news__tabs {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: #1d1f27;
  // padding: 0 10px;
  &-content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    // font-size: 0;
    text-align: center;
    z-index: 1;
    a {
      position: relative;
      display: inline-block;
      @include flex-width(110px);
      // @include lh();
      text-align: center;
      font-size: 24px;
      // font-weight: bold;
      color: #8695ac;
      font-family: 'fcustom', Microsoft YaHei, '微软雅黑' sans-serif;
      // &::before {
      //   content: '';
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   right: 0;
      //   margin: 0 auto;
      //   display: block;
      //   width: 60px;
      //   height: 11px;
      //   background: url('../images/pc_ico-ticket.png') no-repeat -320px -374px / 578px auto;
      //   opacity: 0;
      // }
      &.active {
        // font-weight: bold;
        color: #ffffdd;
        &::before {
          opacity: 1;
          transition: opacity 0.3s linear;
        }
      }
    }
  }
  .ico-more {
    // padding-right: 20px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: none;
    width: 80px;
    height: 100%;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 12px;
    color: #bacfdf;
    // i {
    //   font-weight: 900;
    // }
  }
}

$color: #bacfdf;
$color-active: #d1be89;
.jy-news__content {
  position: relative;
  padding: 12px 20px 0;
  color: $color;
  overflow: hidden;
  .topics {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 100%;
    @include lh(30px);
    // border: 1px solid #3d6484;
    // font-weight: bold;
    // color: $color-active;
    // padding: 12px;
    // min-height: 24px;
    //     &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   display: block;
    //   width: 11px;
    //   height: 12px;
    //   background: url('../img/ico-new-pad-lt.png') no-repeat top center / contain;
    // }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   display: block;
    //   width: 11px;
    //   height: 12px;
    //   background: url('../img/ico-new-pad-rt.png') no-repeat top center / contain;
    // }
    a {
      display: flex;
      width: 100%;
    }
    .label {
      display: inline-block;
      text-align: center;
      @include flex-width(60px);
      // font-size: 18px;
      // font-weight: bold;
      color: #ffffdd;
      background: #771d10;
    }
    .content {
      display: inline-block;
      padding: 0 10px;
      flex: 1;
      @include nowrap();
      background: #262939;
      a {
        color: #fff9be;
      }
    }
  }
  .bodys {
    position: relative;
    margin: 0 auto;
    padding: 8px 0 10px;
  }
  .jy-news__link {
    margin-top: 20px;
  }
}

.jy-news__link {
  $color: #d4d2c5;
  // padding-left: 18px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  // @include lh(50px);
  // line-height: 1.3;
  box-sizing: border-box;
  // font-size: 0.2rem;
  color: $color;
  // border-bottom: 1px dashed #34526d;
  // &:not(:last-of-type) {
  //   border-bottom: 1px dashed #34526d;
  // }
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 50%;
  //   left: 5px;
  //   transform: translate3d(28%, -50%, 0) rotate(45deg);
  //   display: block;
  //   width: 5px;
  //   height: 5px;
  //   border: 1px solid #6a7779;
  // }
  // &::after {
  //   content: '+';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   display: block;
  //   width: 5px;
  //   height: 5px;
  // }
  .sign {
    // color: #a4579d;
    // font-size: 0.22rem;
  }
  .content {
    // margin-left: 0.1rem;
    text-align: left;
    -webkit-box-flex: 1;
    flex: 1;
    @include nowrap();
    color: $color;
    // color: #555;
  }
  .time {
    margin-left: 20px;
    color: #666;
  }
  &:hover {
    .sign {
      color: $color-active;
    }
    .content {
      color: $color-active;
    }
  }
}

// pc官网首页-新闻板块
// <!-- news modules -->
// <div class="jy-news__container">
//   <div class="jy-news__tabs bg-news-header">
//     <div class="jy-news__tabs-content" id="psNewsTabs">
//       <a href="javascript:;" class="active"><span>最新</span></a>
//       <a href="javascript:;" class=""><span>活动</span></a>
//       <a href="javascript:;" class=""><span>公告</span></a>
//       <a href="javascript:;" class=""><span>合服</span></a>
//     </div>
//     <a href="/news.html" class="jy-btn ico-more"></a>
//   </div>
//   <div class="jy-news__content">
//     <div class="swiper-container" id="psNewsContent">
//       <div class="swiper-wrapper">
//         <div class="swiper-slide">
//           <div class="topics">
//             <a href="">
//               <div class="label">推荐</div>
//               <div class="content">【最新】《八阵图》赛季问题答疑1</div>
//             </a>
//           </div>
//           <div class="bodys">
//             <a href="./detail.html" class="jy-news__link">
//               <!-- <span class="sign"></span> -->
//               <span class="content">《八阵图》赛季问题答疑......vvvvvvvvvvvvvv</span>
//               <span class="time">09-13</span>
//             </a>
//             <a href="./detail.html" class="jy-news__link">
//               <!-- <span class="sign"></span> -->
//               <span class="content">《八阵图》赛季问题答疑......vvvvvvvvvvvvvv</span>
//               <span class="time">09-13</span>
//             </a>
//           </div>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>

// // jy-news__container
// var psNewsContent = new Swiper('#psNewsContent', {
//   initialSlide: 0,
//   autoplay: {
//     delay: 2888,
//   },
//   direction: 'horizontal', // horizontal|vertical
//   speed: 666,
//   // autoplay: true,
//   // effect: 'fade',
//   on: {
//     slideChange: function () {
//       $('#psNewsTabs a').eq(this.activeIndex).addClass(jtool.activeCls).siblings().removeClass(jtool.activeCls);
//     },
//   },
// });
// $('#psNewsTabs').on('click', 'a', function () {
//   $(this).addClass(jtool.activeCls).siblings().removeClass(jtool.activeCls);
//   var currIndex = $(this).index();
//   psNewsContent.slideTo(currIndex);
// });

// 内页container
.jy-news__ny__container {
  padding: 20px 0 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @include flex-width(88%);
  // background-color: #191a22;
}
// 内页tab
.jy-news__ny__tabs {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: #1d1f27;
  // padding: 0 10px;
  &-content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    // font-size: 0;
    // text-align: center;
    border-bottom: 1px solid #b8b8b8;
    a {
      position: relative;
      display: inline-block;
      @include flex-width(1);
      @include lh(50px);
      // text-align: center;
      font-size: 18px;
      // font-weight: bold;
      color: #b8b8b8;
      font-family: 'fcustom', Microsoft YaHei, '微软雅黑' sans-serif;
      span {
        position: relative;
        display: block;
        width: 126px;
        height: 100%;
        text-align: center;
        &::before {
          content: '';
          display: block;
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          margin: 0 auto;
          border-bottom: 2px solid #dc8a28;

          opacity: 0;
        }
      }
      &.active {
        // font-weight: bold;
        color: #dc8a28;
        span {
          &::before {
            opacity: 1;
            transition: opacity 0.3s linear;
          }
        }
      }
    }
  }
}
// 内页content
.jy-news__ny__content {
  position: relative;
  padding: 30px 0 0;
  color: #686b75;
  overflow: hidden;
  .jy-news__link {
    @include lh(40px);
    border-bottom: 1px dashed #33323e;
    .content {
      color: #b8b8b8;
    }
  }
}

// <div class="jy-news__ny__container">
//   <div class="jy-news__ny__tabs">
//     <div class="jy-news__ny__tabs-content" id="psNewsTabs">
//       <a href="javascript:;" class="active"><span>最新</span></a>
//       <a href="javascript:;" class=""><span>活动</span></a>
//       <a href="javascript:;" class=""><span>公告</span></a>
//       <a href="javascript:;" class=""><span>合服</span></a>
//     </div>
//   </div>

//   <div class="jy-news__ny__content">
//     <a href="./detail.html" class="jy-news__link">
//       <!-- <span class="sign"></span> -->
//       <span class="content">《八阵图》赛季问题答疑......vvvvvvvvvvvvvv</span>
//       <span class="time">09/13</span>
//     </a>
//     <a href="./detail.html" class="jy-news__link">
//       <!-- <span class="sign"></span> -->
//       <span class="content">《八阵图》赛季问题答疑......vvvvvvvvvvvvvv</span>
//       <span class="time">09/13</span>
//     </a>
//   </div>
// </div>
