//  * @description:  pc news_sections style 新闻板块
//  * @author: liejiayong(809206619@qq.com)
//  * @Date: 2020-06-15 11:27:17
//  * @LastEditors: liejiayong(809206619@qq.com)
//  * @LastEditTime: 2021-12-11 17:06:29
//  * @FilePath:
//  * swiper@v5.x

@import "../_const.scss";
@import "../_mixin.scss";

.banner__unit {
  position: relative;
  @include flex-width(535px);
  height: 392px;
  overflow: hidden;
  .swiper-container {
  }
  .swiper-slide {
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-com {
    padding: 4px 8px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    // border-radius: 20px;
    // text-align: right;
    line-height: 1;
    // background-color: rgba(43, 49, 61, 0.63);
    z-index: 1;
    .swiper-pagination-bullet {
      position: relative;
      // // 圆形
      // $width: 14px;
      // margin: 0 2px;
      // display: inline-block;
      // width: $width;
      // height: $width;
      // border-radius: 7px;
      // cursor: pointer;
      // background-color: #7a7f85;
      // &-active {
      //   background-color: #ffe400;
      // }
      // 正方形
      $width: 12px;
      margin-right: 5px;
      display: inline-block;
      width: $width;
      height: $width;
      cursor: pointer;
      // border-radius: 7px;
      background-color: #fff;
      &::before {
        $width: 8px;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: $width;
        height: $width;
        background-color: #140000;
        animation: fadeIn 0.6s linear;
      }
      &-active {
        // background-color: #ffe400;
        &::before {
          background-color: #fff;
        }
      }
    }
  }
  .banner__tabs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    @include lh(50px);
    text-align: center;
    border-top: 1px solid #43527d;
    background: #343943 url("../img/banner-tabs.png") no-repeat center;
    color: #ae9666;
    z-index: 1;
    .item {
      display: inline-block;
      flex: 1;
      cursor: pointer;
      &.active,
      &:hover {
        color: #c0c0c0;
        background: url("../img/banner-tab.active.png") no-repeat top center;
      }
    }
  }
}

// <!-- banner modules -->
// <div class="banner__unit">
//   <div class="swiper-container" id="spHBans">
//     <div class="swiper-wrapper">
//       <div class="swiper-slide">
//         <img data-src="./img/535-393.jpg" class="swiper-lazy" alt="" />
//       </div>
//     </div>
//   </div>
//   <div class="swiper-pagination-com"></div>
// <div class="banner__tabs" id="banTabs">
//   <a href="javascript:;" class="jy-btn-txt item">传奇世界网页版</a>
//   <a href="javascript:;" class="jy-btn-txt item">举报第三方软件</a>
//   <a href="javascript:;" class="jy-btn-txt item">易时代聚宝坊</a>
//   <a href="javascript:;" class="jy-btn-txt item">超级大活动</a>
// </div>
// </div>

// // banner__unit
// var spHBans = new Swiper("#spHBans", {
//   initialSlide: 0,
//   autoplay: {
//     delay: 3888,
//     disableOnInteraction: false
//   },
//   spaceBetween: 20,
//   direction: "horizontal",
//   loop: true,
//   speed: 666,
//   lazy: {
//     loadPrevNext: true,
//     loadPrevNextAmount: 2,
//     elementClass: "swiper-lazy",
//   },
//   navigation: {
//     nextEl: ".ico-arrow-rt",
//     prevEl: ".ico-arrow-lt",
//   },
//   // effect: 'fade',
//   // swiper.js version > v3
//   pagination: {
//     el: ".swiper-pagination-com",
//     clickable: true,
//   },
//   // swiper.js version <= v3
//   // lazyLoading: true,
//   // lazyLoadingInPrevNext: true,
//   // lazyLoadingInPrevNextAmount: 2,
//   // pagination: '.swiper-pagination-com',
//   // paginationClickable: true,
// });

// $("#banTabs").on("click", ".item", function () {
//   var index = $(this).index();
//   spHBans.slideTo(index);
// $(this).addClass("active").siblings().removeClass("active");
// });
// $("#banTabs .item").hover(function () {
  //   var index = $(this).index();
  //   spHBans.slideTo(index);
  // $(this).addClass("active").siblings().removeClass("active");
// });
