/**
 * @description:  pc paginations style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */

@import '../_const.scss';
@import '../_mixin.scss';

.paginations {
  padding: 60px 0;
  // font-size: 0;
  a {
    // padding: 4px 10px;
    // line-height: 1.15;
    // border-radius: 2px;
    // font-size: 16px;
    // border: 1px solid #b11519;
    // color: #b11519;
    &:hover,
    &.active {
      color: #fff;
      background-color: #b11519;
    }
    &:not([type*='prevnext']) {
      margin: 0 2px;
    }
  }
  .stat {
    padding: 0 10px;
  }
}

/**
 * @description:  pc paginations style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */

@import '../_const.scss';
@import '../_mixin.scss';

.paginations {
  padding: 60px 0;
  // font-size: 0;
  a {
    // padding: 4px 10px;
    // line-height: 1.15;
    // border-radius: 2px;
    // font-size: 16px;
    // border: 1px solid #b11519;
    // color: #b11519;
    &:hover,
    &.active {
      color: #fff;
      background-color: #b11519;
    }
    &:not([type*='prevnext']) {
      margin: 0 2px;
    }
  }
  .stat {
    padding: 0 10px;
  }
}

// <div class="paginations tc">
// <a href="javascript:;" class="jy-btn-txt ico-btn-ny-com" target="_self" type="prevnext">上一页</a>
// <a href="javascript:;" class="active" target="_self">1</a>
// <a href="javascript:;" target="_self">2</a>
// <a href="javascript:;" target="_self">3</a>
// <a href="javascript:;" target="_self">4</a>
// <a href="javascript:;" target="_self">5</a>
// <a href="javascript:;" class="jy-btn-txt ico-btn-ny-com ml-60" target="_self" type="prevnext">下一页</a>
// <span class="stat">第1页 共8页</span>
// </div>
