/**
 * @description:  common ui style for pc terminal
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2021-12-30 11:03:48
 */
@import '../_const.scss';
@import '../_mixin.scss';

body {
  margin-left: auto;
  margin-right: auto;
  min-width: 1200px;
  font: #{$fs-primary-pc}/ 1.15 'Microsoft YaHei', '微软雅黑', sans-serif;
  color: $color-primary;
  background: $color-theme-bg;
}

.jy-wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.jy-section {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: no-repeat top center;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.jy-headermain {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: $main-width-pc;
  height: 100%;
  zoom: 1;
  background: no-repeat top center;
  box-sizing: border-box;
}
.jy-sectionmain {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: $main-width-pc;
  height: 100%;
  zoom: 1;
  background: no-repeat top center;
  box-sizing: border-box;
}
.jy-sectionmain-x {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: $main-widthx-pc;
  height: 100%;
  zoom: 1;
  background: no-repeat top center;
  box-sizing: border-box;
}
