/**
 * @description:  common ui style for pc terminal
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2021-12-30 11:03:48
 */
@import "../_const.scss";
@import "../_mixin.scss";

body {
  margin-left: auto;
  margin-right: auto;
  min-width: $main-width-pc;
  font: #{$fs-primary-pc}/ 1.15 "Microsoft YaHei", "微软雅黑", sans-serif;
  color: $color-primary;
  background: $color-theme-bg;
}

.wrapper__cont {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  // background: url('../img/bg.jpg') no-repeat top center;
}

.main__cont {
  padding: 440px 0 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 500px;
  width: $main-width-pc;
}

.main__cont__ny {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: $main-width-pc;
  border: 1px solid #403e54;
  background: #201f2a;
}

.main__box{ 
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: $main-width-pc;
}

// <div class="title__cont">
//   <div class="label">职业介绍</div>
//   <a href="" class="jy-btn ico-more"></a>
// </div>
.title__cont {
  padding: 0 24px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include lh(62px);
  .label {
    font-size: 28px;
    color: #ffffdd;
    font-family: "fcustom", Microsoft YaHei, "微软雅黑", sans-serif;
  }
}

// <div class="title__cont__ny">
//   <div class="label">职业介绍</div>
//   <a href="" class="jy-btn ico-more"></a>
// </div>
.title__cont__ny {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include lh(87px);
  background: url("../img/bg-nav-ny.png") no-repeat top center / contain;

  .label {
    font-size: 28px;
    color: #ffffdd;
    font-family: "fcustom", Microsoft YaHei, "微软雅黑", sans-serif;
    &-sub {
      // font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      color: #b8b8b8;
    }
  }
  .links {
    span {
    }
  }
}

.sec__cont {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: no-repeat top center;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.sec__main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: $main-width-pc;
  height: 100%;
  zoom: 1;
  background: no-repeat top center;
  box-sizing: border-box;
}
.sec__main-x {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: $main-widthx-pc;
  height: 100%;
  zoom: 1;
  background: no-repeat top center;
  box-sizing: border-box;
}
