/**
 * @description:  wap danmu style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */

@import '../_const.scss';
@import '../_mixin.scss';

// <!-- 弹幕 -->
// <div class="danmu_container">
//   <div id="danmuStage" class="danmu_stage"></div>
// </div>
// <div class="danmu_input mauto mt-20">
//   <div class="i-inp-dm">
//     <!-- <input placeholder="请选择您好发送的祝福......." type="text" id="danmuInp"> -->
//     <select name="" id="danmuInp">
//       <option value="请选择您好发送的祝福.......">请选择您好发送的祝福.......</option>
//       <option value="恭喜发财">恭喜发财</option>
//     </select>
//   </div>
//   <a href="javascript:;" class="jy-btn danmu_submit ml-10">发送</a>
// </div>

$panel-width: 7.1rem;
$panel-height: 3rem;
$panel-gutter: 0.12rem;
$msg-height: 0.5rem;
$msg-gutter: 0.1rem;
$msg-fs: 0.24rem;
$msg-color: #dab791;
$danmu-fs: 0.3rem;

.danmu_container {
  position: relative;
  height: $panel-height;
  background: #f9f9f9;
}
.danmu_stage {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: $panel-gutter;
  right: $panel-gutter;
  top: $panel-gutter;
  height: ($panel-height - $msg-gutter * 2);
  -moz-border-radius: 0.12rem;
  border-radius: 0.12rem;
  overflow: hidden;
  z-index: 10;
  .danmu_item {
    display: block;
    position: absolute;
    background-color: transparent;
    padding: 0;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
    left: 100%;
    overflow: hidden;
    font-size: $danmu-fs;
    z-index: 10;
  }
}
.danmu_input {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: $msg-height;
  input {
    padding: 0 $msg-gutter;
    height: $msg-height;
    outline: 0;
    appearance: none;
    color: $msg-color;
    font-size: $msg-fs;
    -moz-border-radius: $msg-gutter;
    border-radius: $msg-gutter;
    vertical-align: top;
    @include inputcolor($msg-color);
  }
  select {
    padding: 0 $msg-gutter;
    height: $msg-height;
    outline: 0;
    appearance: none;
    color: $msg-color;
    font-size: $msg-fs;
    -moz-border-radius: $msg-gutter;
    border-radius: $msg-gutter;
    vertical-align: top;
    @include inputcolor($msg-color);
  }
  .danmu_submit {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    width: 2rem;
    height: $msg-height;
    text-align: center;
    background: linear-gradient(#d84949, rgb(236, 196, 17));
  }
}
