/**
 * @description:  wap danmu style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */

@import "../_const.scss";
@import "../_mixin.scss";

$panel-width: 7.1rem;
$panel-height: 3rem;
$panel-gutter: 0.12rem;
$msg-height: 0.5rem;
$msg-gutter: 0.1rem;

.danmu__unit {
  position: relative;
  height: $panel-height;
  background: #f9f9f9;
  font-size: 0.3rem;
}
.danmu__box {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: $panel-gutter;
  right: $panel-gutter;
  top: $panel-gutter;
  height: ($panel-height - $msg-gutter * 2);
  border-radius: 0.12rem;
  overflow: hidden;
  z-index: 5;
  .danmu_item,
  .mydanmu {
    display: block;
    position: absolute;
    padding: 0;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
    left: 100%;
    overflow: hidden;
    z-index: 10;
    font-size: inherit;
    background-color: transparent;
    // z-index: 1 !important;
  }
}
.danmu__send {
  @include mauto();
  display: flex;
  align-items: center;
  width: 100%;
}
.danmu__input {
  line-height: $msg-height;
  font-size: 0.24rem;

  $msg-color: #dab791;
  input {
    padding: 0 $msg-gutter;
    height: $msg-height;
    box-sizing: border-box;
    outline: 0;
    appearance: none;
    border-radius: $msg-gutter;
    vertical-align: top;
    @include inputcolor($msg-color);
  }
  select {
    padding: 0 $msg-gutter;
    height: $msg-height;
    box-sizing: border-box;
    outline: 0;
    appearance: none;
    border-radius: $msg-gutter;
    vertical-align: top;
    @include inputcolor($msg-color);
  }
}
.danmu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  width: 2rem;
  height: $msg-height;
  line-height: normal;
  text-align: center;
  background: linear-gradient(#d84949, rgb(236, 196, 17));
}

// <div class="danmu__unit">
//       <div id="danmuStage" class="danmu__box"></div>
//     </div>
//     <div class="danmu__send mauto mt-20">
//       <div class="danmu__input" id="danmuInput">
//         <!-- <input placeholder="请选择您好发送的祝福......." type="text" > -->
//         <select name="">
//           <option value="请选择您好发送的祝福.......">请选择您好发送的祝福.......</option>
//           <option value="恭喜发财">恭喜发财</option>
//         </select>
//       </div>
//       <a href="javascript:;" class="jy-btn ico-btn-submit danmu__btn ml-10" id="danmuBtn">发送</a>
//     </div>
