/**
 * @description:  wap dropdown style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */

@import "../_const.scss";
@import "../_mixin.scss";

.dropdown__unit {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  overflow: hidden auto;
  text-align: center;
  @include font-custom();
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  &.active {
    display: block;
    height: auto;
    transition: height 0.4s linear;
    // .dropdown__item {
    //   -webkit-transform: translate3d(0, 0, 0);
    //      -moz-transform: translate3d(0, 0, 0);
    //           transform: translate3d(0, 0, 0);
    // }
  }
  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.dropdown__content {
  position: absolute;
  top: $nav-height;
  left: 0;
  right: 0;
  padding: 0.3rem 0.3rem 0.2rem;
  background-color: rgba(58, 61, 67, 0.94);
  overflow: hidden;
}
.dropdown__item {
  // $bg: #5f2309 linear-gradient(#431909, #5f2309, #7c2d08);
  margin-bottom: 0.02rem;
  padding: 0.14rem 0;
  position: relative;
  width: 100%;
  line-height: 1.5;
  // @include lh(0.66rem);
  border: 0.02rem solid #fff;
  transition: all 0.3s linear;
  &:nth-of-type(n + 2) {
    margin-top: 0.12rem;
  }
  // color: #c3b9a4;
  // font-size: 0.2rem;
  // text-align: center;
  // background: $bg;
  // -webkit-animation: rtol 0.3s ease-in;
  // animation: rtol 0.3s ease-in;
  // margin-right: -1.6rem;
  // -webkit-transform: translate3d(-100%, 0, 0);
  // -moz-transform: translate3d(-100%, 0, 0);
  // transform: translate3d(-100%, 0, 0);

  // &:nth-of-type(1) {
  //   -webkit-animation-delay: 0.2s;
  //   -moz-animation-delay: 0.2s;
  //   animation-delay: 0.2s;
  // }
  // &:nth-of-type(2) {
  //   -webkit-animation-delay: 0.4s;
  //   -moz-animation-delay: 0.4s;
  //   animation-delay: 0.4s;
  // }
  // &:nth-of-type(3) {
  //   -webkit-animation-delay: 0.6s;
  //   -moz-animation-delay: 0.6s;
  //   animation-delay: 0.6s;
  // }
  // &:nth-of-type(4) {
  //   -webkit-animation-delay: 0.8s;
  //   -moz-animation-delay: 0.8s;
  //   animation-delay: 0.8s;
  // }
  // &:nth-of-type(5) {
  //   -webkit-animation-delay: 1s;
  //   -moz-animation-delay: 1s;
  //   animation-delay: 1s;
  // }
  // &:nth-of-type(6) {
  //   -webkit-animation-delay: 1.2s;
  //   -moz-animation-delay: 1.2s;
  //   animation-delay: 1.2s;
  // }
  // &:nth-of-type(7) {
  //   -webkit-animation-delay: 1.4s;
  //   -moz-animation-delay: 1.4s;
  //   animation-delay: 1.4s;
  // }
  // &:nth-of-type(8) {
  //   -webkit-animation-delay: 1.6s;
  //   -moz-animation-delay: 1.6s;
  //   animation-delay: 1.6s;
  // }
}
.dropdown__item__sub {
  .dropdown__link {
    i {
      display: inline-block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform: translate3d(120%, 43%, 0);
        transform-origin: 0.12rem 0.06rem;
        width: 0;
        height: 0;
        line-height: 1;
        font-size: 0;
        overflow: hidden;
        border-width: 0.12rem;
        border-style: solid dashed dashed dashed;
        border-color: #fff transparent transparent transparent;
      }
    }
  }
  &.active {
    .dropdown__link {
      i {
        &::before {
          transform: translate3d(120%, 43%, 0) rotate(180deg);
        }
      }
    }
  }
}
.dropdown__item__sub-content {
  display: none;
  &.active {
    display: block;
  }
}
.dropdown__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@-webkit-keyframes rtol {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rtol {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// <div class="dropdown__unit" id="dropdown">
//   <div class="dropdown__mask" id="dropdownMask"></div>
//   <ul class="dropdown__content">
//     <li class="dropdown__item"><a href="./index.html" class="dropdown__link">首 页</a></li>
//     <li class="dropdown__item"><a href="./news.html" class="dropdown__link">新闻资讯</a></li>
//     <li class="dropdown__item">
//       <div class="dropdown__item__sub jdropdownSubTit">
//         <a href="javascript:;" class="dropdown__link"><i>游戏资料</i></a>
//       </div>
//       <div class="dropdown__item__sub-content jdropdownSubBody">
//         <a href="./psp-game.html" class="dropdown__link">游戏介绍</a>
//         <a href="./psp-pic.html" class="dropdown__link">游戏图鉴</a>
//       </div>
//     </li>
//     <li class="dropdown__item">
//       <a href="./psp.html" class="dropdown__link">游戏攻略</a>
//     </li>
//     <li class="dropdown__item">
//       <div class="dropdown__item__sub jdropdownSubTit">
//         <a href="javascript:;" class="dropdown__link"><i>玩家社区</i></a>
//       </div>
//       <div class="dropdown__item__sub-content jdropdownSubBody">
//         <a href="./story.html" class="dropdown__link">玩家故事</a>
//         <a href="./video.html" class="dropdown__link">精彩视频</a>
//       </div>
//     </li>
//     <li class="dropdown__item"><a href="./gifts.html" class="dropdown__link">礼包中心</a></li>
//     <li class="dropdown__item"><a href="" class="dropdown__link">客服中心</a></li>
//   </ul>
// </div>

// /* menubar button */
// if ($('#btnNavMenu').length) {
//   function changeStatus(flag) {
//     if (flag) {
//       $('#btnNavMenu').removeClass(jtool.activeCls);
//       $('#dropdown').removeClass(jtool.activeCls);
//     } else {
//       $('#btnNavMenu').addClass(jtool.activeCls);
//       $('#dropdown').addClass(jtool.activeCls);
//     }
//   }
//   $('#btnNavMenu').on('click', function () {
//     changeStatus($(this).hasClass(jtool.activeCls));
//   });
//   $('#dropdownMask').on('click', function () {
//     changeStatus(true);
//   });
//   if ($('.jdropdownSubTit').length) {
//     $('.jdropdownSubTit').on('click', function () {
//       if ($(this).hasClass(jtool.activeCls)) {
//         $(this).removeClass(jtool.activeCls);
//         $(this).siblings('.jdropdownSubBody').removeClass(jtool.activeCls);
//       } else {
//         $(this).addClass(jtool.activeCls);
//         $(this).siblings('.jdropdownSubBody').addClass(jtool.activeCls);
//       }
//     });
//   }
// }
