/**
 * @description:  wap field style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */

@import "../_const.scss";
@import "../_mixin.scss";

.field__unit {
  $input-width: 4.78rem;
  $input-height: 0.45rem;
  $input-raduis: 0.06rem;

  $input-bg: #ffe8dd;
  $input-label: #dab791;
  $input-color: #dab791;

  $textare-height: 2.1rem;

  position: relative;
  font-size: 0.24rem;
  color: $input-color;

  .field__cells {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    // height: $input-height;
    line-height: $input-height;
    box-sizing: border-box;
    overflow: hidden;
    & + .field__cells {
      margin-top: 0.18rem;
    }
  }
  .field__title {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    box-sizing: border-box;
    width: 3.2em;
    margin-right: 0.1rem;
    color: $input-label;
    text-align: left;
    word-wrap: break-word;
    &.flex-start {
      align-self: flex-start;
    }
  }
  .field__content {
    position: relative;
    overflow: hidden;
    text-align: right;
    width: $input-width;
    height: $input-height;
    word-wrap: break-word;
    input {
      padding: 0 1em;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: $input-raduis;
      appearance: none;
      border: 0;
      outline: 0;
      @include inputbg($input-bg);
      @include inputcolor($input-color);
      // font-size: .26rem;
    }

    select {
      padding: 0 1em;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: $input-raduis;
      // appearance: none;
      border: 0;
      outline: 0;
      @include inputbg($input-bg);
      @include inputcolor($input-color);
      // font-size: .26rem;
    }
  }
  .field__textarea {
    padding: 0.2rem;
    position: relative;
    overflow: hidden;
    text-align: right;
    width: $input-width;
    height: 3em;
    box-sizing: border-box;
    background-color: $input-bg;
    textarea {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: $input-raduis;
      appearance: none;
      border: 0;
      outline: 0;
      background-color: transparent;
      @include inputcolor($input-color);
      // font-size: .26rem;
    }
  }
}

// <div class="field__unit">
//   <div class="field__cells">
//     <div class="field__title">姓名</div>
//     <div class="field__content">
//       <input type="text" id="" placeholder="请输入" />
//     </div>
//   </div>
//   <div class="field__cells">
//     <div class="field__title">姓名</div>
//     <div class="field__content">
//       <select id="">
//         <option value="">请选择</option>
//       </select>
//     </div>
//   </div>
//   <div class="field__cells">
//     <div class="field__title">备注</div>
//     <div class="field__textarea">
//       <textarea id="" placeholder="请输入"></textarea>
//     </div>
//   </div>
// </div>
