/**
 * @description:  wap list style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */

@import "../_const.scss";
@import "../_mixin.scss";

.list__unit {
  // padding-top: 0rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  // color: #949494;
  .list__title {
    display: inline-flex;
    padding: 0 0.2rem;
    height: 0.38rem;
    line-height: normal;
    border-radius: $tit-height;
    font-size: 0.24rem;
    // font-weight: bold;
    color: #fff;
    background: #4872a8;
  }
  .list__content {
    margin-top: 0.6rem;
    position: relative;
    // line-height: 1.5;
    li {
      $padding-left: 0.3rem;
      $width: 0.3rem;

      // margin-top: 0.1rem;
      padding: 0 0 0 $padding-left;
      position: relative;
      list-style: none;
      // text-indent: .1rem;

      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          &::before {
            content: "#{$i}.";
            position: absolute;
            top: 0.2em;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: normal;
            width: $width;
            height: $width;
            // font-size: 0.24rem;
            // color: #fff;
            // background-color: #7491bc;
            // border-radius: 50%;
          }
        }
      }

      span {
      }
      // i {
      //   $width: 0.3rem;
      //   margin-right: 0.1rem;
      //   display: inline-block;
      //   width: $width;
      //   height: $width;
      //   line-height: $width;
      //   text-align: center;
      //   font-size: 0.24rem;
      //   color: #fff;
      //   background-color: #7491bc;
      //   border-radius: 50%;
      // }
    }
  }
}

// <div class="list__unit">
//   <div class="list__title fb">活动规则：</div>
//   <ul class="list__content lh-15">
//     <li>
//       <i>1</i>
//       被邀玩家只能在每日新开的区服中创角才算成功参与活动。
//     </li>
//     <li>
//       <i>2</i>
//       参与活动需要登录账号并绑定手机号，一个手机号只能参与一次活动。
//     </li>
//   </ul>
// </div>
