@import '../_const.scss';
@import '../_mixin.scss';

// <div class="lottery-container">
//   <div class="lottery-panel">
//     <div class="lottery-item ico-lottery-item active">
//       <div class="avatar">
//         <div class="ico-lottery-1"></div>
//       </div>
//       <div class="name">定制抱枕</div>
//     </div>
//     <div class="lottery-item ico-lottery-item">
//       <div class="avatar">
//         <div class="ico-lottery-2"></div>
//       </div>
//       <div class="name">30元充值卡</div>
//     </div>
//     <div class="lottery-item ico-lottery-item">
//       <div class="avatar">
//         <div class="ico-lottery-3"></div>
//       </div>
//       <div class="name">定制雨伞</div>
//     </div>
//     <div class="lottery-item ico-lottery-item">
//       <div class="avatar">
//         <div class="ico-lottery-4"></div>
//       </div>
//       <div class="name">200元充值卡</div>
//     </div>
//     <div class="lottery-item ico-lottery-item">
//       <div class="avatar">
//         <div class="ico-lottery-5"></div>
//       </div>
//       <div class="name">100元充值卡</div>
//     </div>
//     <div class="lottery-item ico-lottery-item">
//       <div class="avatar">
//         <div class="ico-lottery-6"></div>
//       </div>
//       <div class="name">10元充值卡</div>
//     </div>
//     <div class="lottery-item ico-lottery-item">
//       <div class="avatar">
//         <div class="ico-lottery-7"></div>
//       </div>
//       <div class="name">华为手机</div>
//     </div>
//     <div class="lottery-item ico-lottery-item">
//       <div class="avatar">
//         <div class="ico-lottery-8"></div>
//       </div>
//       <div class="name">谢谢参与</div>
//     </div>
//     <div class="lottery-item ico-lottery-item">
//       <div class="avatar">
//         <div class="ico-lottery-9"></div>
//       </div>
//       <div class="name">机械键盘</div>
//     </div>
//     <div class="lottery-item ico-lottery-item">
//       <div class="avatar">
//         <div class="ico-lottery-10"></div>
//       </div>
//       <div class="name">50元充值卡</div>
//     </div>
//   </div>

//   <div class="lottery-extral">
//     <div
//       class="swiper-container mauto mt-10 tl swiper-container-initialized swiper-container-vertical"
//       id="psw"
//     >
//       <div class="swiper-wrapper">
//         <div class="swiper-slide">恭喜不是耗子就是猫获得玛雅卷轴</div>
//       </div>
//       <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
//     </div>
//     <div class="mt-10">
//       <a href="javascript:;" class="jy-btn-txt ico-btn-com btn-record">
//         <i class="ico-search"></i>
//         <span class="ml-5">奖品查询</span>
//       </a>
//       <a href="javascript:;" class="jy-btn-txt ico-btn-com btn-reg ml-20">
//         <i class="ico-user"></i>
//         <span class="ml-5">信息登记</span>
//       </a>
//     </div>
//     <a href="javascript:;" class="ico-btn-lottery btn-lottery jlottery-btn">开始抽奖</a>
//     <div class="mt-5 text-grey">
//       剩余抽奖：
//       <span class="text-yellow">10</span>
//       次
//     </div>
//   </div>
// </div>

.lottery-container {
  margin: 0 auto;
  position: relative;
  height: 3 * 1.18rem;
  width: 4 * 1.73rem;
}
.lottery-panel {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  .avatar {
    position: relative;
    padding-top: 0.08rem;
    margin: 0 auto;
    height: 0.9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    i,
    img {
      transform: scale(1);
    }
  }
  .name {
    margin: 0 auto;
    position: absolute;
    top: 0.68rem;
    left: 0;
    right: 0;
    // height: 0.41rem;
    @include lh(0.41rem);
    text-align: center;
    white-space: nowrap;
    font-size: 0.2rem;
    color: #f2ce84;
    background: url('../img/ico-lottery-label.png') no-repeat center / contain;
  }
  .lottery-item {
    position: absolute;
    text-align: center;
    // filter: brightness(1.1);
    &:nth-of-type(1) {
      top: 0;
      left: 0;
    }
    &:nth-of-type(2) {
      top: 0;
      left: 1.73rem;
    }
    &:nth-of-type(3) {
      top: 0;
      left: 2 * 1.73rem;
    }
    &:nth-of-type(4) {
      top: 0;
      left: 3 * 1.73rem;
    }
    &:nth-of-type(5) {
      top: 1.18rem;
      left: 3 * 1.73rem;
    }
    &:nth-of-type(6) {
      top: 2 * 1.18rem;
      left: 3 * 1.73rem;
    }
    &:nth-of-type(7) {
      top: 2 * 1.18rem;
      left: 2 * 1.73rem;
    }
    &:nth-of-type(8) {
      top: 2 * 1.18rem;
      left: 1 * 1.73rem;
    }
    &:nth-of-type(9) {
      top: 2 * 1.18rem;
      left: 0 * 1.73rem;
    }
    &:nth-of-type(10) {
      top: 1 * 1.18rem;
      left: 0 * 1.73rem;
    }
  }
}

.lottery-extral {
  // margin: 0 auto;
  position: absolute;
  top: 1 * 1.18rem;
  left: 1 * 1.73rem;
  width: 3.39rem;
  height: 1.15rem;
  text-align: center;
  // .swiper-container {
  //   width: 3.04rem;
  //   height: 1.56rem;
  //   overflow: hidden;
  // }
}
