/**
 * @description:  wap menu style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */
@use "sass:math";
@import "../_const.scss";
@import "../_mixin.scss";

$color: #ffdca9;
$color-active: #ee9b1e;
.menus__unit {
  position: relative;
  height: $menus-top;
  z-index: 10;
  overflow: hidden;
}
.menus__content {
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  @include lh($menus-top);
  border-top: 0.03rem solid #930c16;
  background: linear-gradient(#6d0912, #791016, #972121, #ae2e29, #6d0912);
}
.menus__item {
  $width: math.div(100%,3);
  position: relative;
  -webkit-box-flex: 0;
  flex: 0 0 $width;
  width: $width;
  text-align: center;
  font-size: 0.3rem;
  font-weight: bold;
  color: $color;
  &:not(:first-of-type) {
    &::before {
      content: "";
      position: absolute;
      top: 10%;
      bottom: 10%;
      left: 0;
      // width: 0.03rem;
      transform: translate(-50%, 0);
      border-radius: 0.015rem;
      border: 0.01rem solid #b72629;
      opacity: 0.2;
    }
  }
  &.active {
    color: $color-active;
    background: linear-gradient(#6d0912, #791016, #972121, #ae2e29, #6d0912);
    // border-bottom: 0.04rem solid #cfb474;
  }
}
.menus__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-shadow: #ffdca9 0 0 1px;
  // @include text-gradient($color, linear-gradient(bottom, #fff3dc, #ffe9c6, #ffdca9));
}

// <div class="wrapper" id="topWrapper">
//   <div class="sec__cont sec1 jpage" id="p1"></div>
//   <div class="sec__cont sec2 jpage" id="p2"></div>
//   <div class="sec__cont sec3 jpage" id="p3"></div>
//   <div class="sec__cont sec4 jpage" id="p4"></div>
//   <div class="sec__cont sec5 jpage" id="p5"></div>
//   <div class="sec__cont sec6 jpage" id="p6"></div>
//   <div class="menus__unit" id="menus">
//     <ul class="menus__content">
//       <li class="menus__item active"><a href="#p1" class="menus__link">首页</a></li>
//       <li class="menus__item"><a href="#p2" class="menus__link">资讯</a></li>
//       <li class="menus__item"><a href="#p3" class="menus__link">攻略</a></li>
//       <li class="menus__item"><a href="#p4" class="menus__link">福利</a></li>
//       <li class="menus__item"><a href="#p5" class="menus__link">社区</a></li>
//       <li class="menus__item"><a href="#p6" class="menus__link">客服</a></li>
//     </ul>
//   </div>
// </div>

// js
// $("#menus").on("click", ".menus__item", function () {
//   $(this).addClass('active').siblings().removeClass('active');
// });
// $(window).scroll(
//   JTool.utils.debounce(function () {
//     var pagePos = [];
//     $(".jpage").each(function (i, el) {
//       var pos = $(el).position(),
//         height = Math.floor($(el).outerHeight()),
//         top = Math.floor(pos.top),
//         bottom = top + height;
//       pagePos.push([top, bottom]);
//     });
//     var top =
//         document.documentElement.scrollTop /* 标准 */ || window.pageYOffset /* Safari */ || document.body.scrollTop,
//       isShow = false,
//       showIndex = -1;
//     pagePos.forEach(function (pos, i) {
//       if (top >= pos[0] && top < pos[1]) {
//         isShow = true;
//         showIndex = i;
//       }
//     });
//     if (isShow) {
//       $(".menus__item").eq(showIndex).addClass("active").siblings().removeClass("active");
//     } else {
//       $(".menus__item").eq(0).removeClass("active").siblings().removeClass("active");
//     }
//   }, 200)
// );
