/**
 * @description:  wap menu style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */

@import '../_const.scss';
@import '../_mixin.scss';

// <!-- menu -->
// <div class="jy-menus">
//   <ul class="jy-menus__wrapper">
//     <li class="jy-menus__item active"><a href="" class="jy-menus__item__link">首页</a></li>
//     <li class="jy-menus__item"><a href="" class="jy-menus__item__link">资讯</a></li>
//     <li class="jy-menus__item"><a href="" class="jy-menus__item__link">攻略</a></li>
//     <li class="jy-menus__item"><a href="" class="jy-menus__item__link">福利</a></li>
//     <li class="jy-menus__item"><a href="" class="jy-menus__item__link">社区</a></li>
//     <li class="jy-menus__item"><a href="" class="jy-menus__item__link">客服</a></li>
//   </ul>
// </div>

.jy-menus {
  position: relative;
  height: $menus-top;
  z-index: 10;
  overflow: hidden;
}
.jy-menus__wrapper {
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include lh($menus-top);
  border-top: 0.03rem solid #930c16;
  background: linear-gradient(#6d0912, #791016, #972121, #ae2e29);
}
.jy-menus__item {
  $width: (100%/3);
  position: relative;
  -webkit-box-flex: 0;
  flex: 0 0 $width;
  width: $width;
  text-align: center;
  font-size: 0.3rem;
  font-weight: bold;
  color: #ffe7c1;
  &:not(:first-of-type) {
    &::before {
      content: '';
      position: absolute;
      top: 10%;
      bottom: 10%;
      left: 0;
      // width: 0.03rem;
      transform: translate(-50%, 0);
      border-radius: 0.015rem;
      border: 0.01rem solid #b72629;
      opacity: 0.2;
    }
  }
  &.active {
    // color: #cfb474;
    // border-bottom: 0.04rem solid #cfb474;
  }
}
.jy-menus__item__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(bottom, #fff3dc, #ffe9c6, #ffdca9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: #ffdca9 0 0 1px;
}
