/**
 * @description:  wap nav style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */

@import "../_const.scss";
@import "../_mixin.scss";

// <!-- nav -->
// <div class="jy-nav">
//   <div class="jy-nav_wrapper">
//     <a class="jy-nav_logo"><img src="./img/logo.png" alt="" /></a>
//     <div class="jy-nav_profile">
//       <div class="jy-nav_profile_name">最强王者</div>
//       <div class="jy-nav_profile_subname">正版小说授权官方手游</div>
//     </div>
//     <div class="jy-nav_extra">
//       <a href="javascript:;" class="jy-btn ico-btn-dl"></a>
//       <div class="jy-nav_btn__menu" id="btnNavMenu">
//         <div class="jy-nav_btn__menu--line"></div>
//         <div class="jy-nav_btn__menu--line"></div>
//         <div class="jy-nav_btn__menu--line"></div>
//       </div>
//     </div>
//   </div>
// </div>

.jy-nav {
  $nav-height: $nav-height;

  padding: 0 0.3rem;
  position: fixed;
  top: 0;
  left: 50%;
  width: 7.5rem;
  box-sizing: border-box;
  transform: translate3d(-50%, 0, 0);
  z-index: 10;
  background-color: #071215;
  border-bottom: 0.02rem solid #1f2a2d;
  .jy-nav_wrapper {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: $nav-height;
  }
  .jy-nav_logo {
    $width: 1.08rem;
    position: relative;
    // margin-bottom: -0.12rem;
    // border-radius: 0.3rem;
    -webkit-box-flex: 0;
    flex: 0 0 $width;
    width: $width;
    // height: $width;
    align-self: flex-end;
    img {
      width: 100%;
      // height: 100%;
      object-fit: contain;
    }
  }
  .jy-nav_profile {
    flex: 1;
    margin-left: 0.18rem;
  }
  .jy-nav_profile_name {
    color: #e1c688;
    font-size: 0.3rem;
  }
  .jy-nav_profile_subname {
    margin-top: 0.08rem;
    font-size: 0.22rem;
  }
  .jy-nav_extra {
    // flex: 1;
    justify-self: flex-end;
    display: -webkit-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

// <div class="jy-nav_btn__menu" id="btnNavMenu">
// <div class="jy-nav_btn__menu--line"></div>
// <div class="jy-nav_btn__menu--line"></div>
// <div class="jy-nav_btn__menu--line"></div>
// </div>
.jy-nav_btn__menu {
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
  width: 0.6rem;
  // height: 0.6rem;
  margin: 0 0.1rem;
  line-height: 1;
  font-size: 0;

  $height: 0.08rem;
  $gutter: 0.1rem;

  .jy-nav_btn__menu--line {
    position: relative;
    display: block;
    width: 0.6rem;
    height: $height;
    margin-left: auto;
    margin-right: auto;
    background-color: #dbbb7d;
    // border-radius: 0.1rem;
    transition: 0.3s;
    &:nth-of-type(1) {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#deca89), to(#c39f61));
      background-image: linear-gradient(#deca89, #c39f61);
    }
    &:nth-of-type(2) {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#dbba7c), to(#dfbf81));
      background-image: linear-gradient(#dbba7c, #dfbf81);
      margin: $gutter auto;
    }
    &:nth-of-type(3) {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f3d698), to(#f7db9c));
      background-image: linear-gradient(#f3d698, #f7db9c);
    }
  }
  &.active {
    .jy-nav_btn__menu--line {
      will-change: transform, opacity;
      &:nth-of-type(1) {
        -webkit-transform: translateY(#{$gutter + $height}) rotate(-45deg);
        transform: translateY(#{$gutter + $height}) rotate(-45deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        -webkit-transform: translateY(-#{$gutter + $height}) rotate(45deg);
        transform: translateY(-#{$gutter + $height}) rotate(45deg);
      }
    }
  }
}
