@import "../_const.scss";
@import "../_mixin.scss";

.banner__unit {
  position: relative;
  margin: 0 auto 0;
  width: 7.02rem;
  .swiper-container {
    height: 2.9rem;
  }
  .swiper-slide {
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.banner__tabs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include lh(0.6rem);
  background: #411f00;
  color: #c9a77f;
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    height: 100%;
    cursor: pointer;
    &:not(:first-of-type) {
      border-left: 0.02rem solid #3b2f24;
    }
    &.active {
      color: #ffd08c;
      background-color: #8d3200;
    }
  }
}

.swiper-pagination-banner {
  position: absolute;
  bottom: 0.38rem;
  left: 0;
  right: 0;
  display: flex;
  // align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  .swiper-pagination-bullet {
    margin: 0 0.12rem;
    $width: 0.14rem;
    display: inline-block;
    width: $width;
    height: $width;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    &-active {
      background-color: #e8d2a3;
    }
  }
}

// <!-- banner module -->
// <div class="banner__unit">
//   <div class="swiper-container" id="spHBans">
//     <div class="swiper-wrapper">
//       <div class="swiper-slide">
//         <img data-src="./img/ban.jpg" class="swiper-lazy" alt="new banner" />
//       </div>
//     </div>
//   </div>
//   <div class="banner__tabs fs-18">
//     <a href="javascript:;" class="item active">传奇世界网页版</a>
//     <a href="javascript:;" class="item">举报第三方软件</a>
//     <a href="javascript:;" class="item">贪玩传奇</a>
//     <a href="javascript:;" class="item">超级大活动</a>
//   </div>
// </div>

// // 游戏资讯banner
// var spHBans = new Swiper('#spHBans', {
//   autoplay: { disableOnInteraction: false },
// spaceBetween: 20,
//   pagination: {
//     el: '.swiper-pagination-banner',
//     clickable: true,
//   },
//   lazy: {
//     loadPrevNext: true,
//     loadPrevNextAmount: 2,
//     loadOnTransitionStart: true,
//   },
//   on: {
//     slideChange: function () {
//       $('.banner__tabs .item')
//         .eq(this.activeIndex)
//         .addClass(jtool.activeCls)
//         .siblings()
//         .removeClass(jtool.activeCls);
//     },
//   },
// });
// $('.banner__tabs').on('click', '.item', function () {
//   var index = $(this).index();
//   $(this).addClass(jtool.activeCls).siblings().removeClass(jtool.activeCls);
//   spHBans.slideTo(index);
// });
