/**
 * @description:  wap pop style
 * @author: liejiayong(809206619@qq.com)
 * @Date: 2020-06-15 11:27:17
 * @LastEditors: liejiayong(809206619@qq.com)
 * @LastEditTime: 2021-12-11 17:06:29
 * @FilePath: 
 * @warning: 本页所有内容，后端同学不需要修改，谢谢~
 */
@use "sass:math";
@import '../_const.scss';
@import '../_mixin.scss';

$prefixPop: #{$prefix}-pop;
$bg: #8e0d0d linear-gradient(#8e0d0d, #950e0e, #830c0c);
$bg-tit: transparent;
$bg-norm: rgba(0, 0, 0, 0.2);

$color: #fdf1ae;
$color-tit: #fdf1ae;

$fs: 0.22rem;
$fs-tit: 0.3rem;

/* main wrapper */
$width: 5.86rem;
$min-height: 2rem;
$line-height-norm: 1.28;
$main-border-radius: 0.12rem;

/* Maximum rolling height */
$scrollbar-maxheight: 8rem;

/* input element */
$input-select-height: 0.6rem;
$input-select-cell-gutter: 0.16rem;
$input-select-cell-radius: 0.12rem;

// 外框
#{$prefixPop} {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
  box-sizing: border-box;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  // 激活态
  &.active {
    display: block;
    opacity: 1;
  }
  // 屏罩
  &_mask,
  &_mask--clickable {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
  }
  // 总主体
  &_main {
    position: fixed;
    // margin-left: -($width / 2);
    // top: 8%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 20;
    width: $width;
    min-height: $min-height;
    border: 0.03rem solid rgba(0, 0, 0, 0.3);
    border-radius: $main-border-radius;
    font-size: $fs;
    color: $color;
    background: $bg;
    &.grayscale {
      filter: grayscale(1.1);
    }
    &.brightness {
      filter: brightness(1.1);
    }
    // &::before {
    //   content: '';
    //   display: block;
    //   margin: 0 auto;
    //   position: absolute;
    //   top: -0.4rem;
    //   left: 0;
    //   right: 0;
    //   width: 6.44rem;
    //   height: 1.04rem;
    //   background: url('../img/ico-pop-1.png') no-repeat top center / 6.44rem auto;
    // }
    // &::after {
    //   content: '';
    //   display: block;
    //   margin: 0 auto;
    //   position: absolute;
    //   bottom: -0.4rem;
    //   left: 0;
    //   right: 0;
    //   width: 6.44rem;
    //   height: 1.2rem;
    //   background: url('../img/ico-pop-3.png') no-repeat top center / 6.44rem auto;
    //   z-index: -1;
    // }
  }
  &_main--auto {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 20;
  }
  // 主体标题
  &_header {
    $height: 0.6rem;

    position: relative;
    padding: 0.2rem 0 0;
    // margin: 0 auto 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $height;
    text-align: center;
    // width: 5.86rem;
    line-height: $line-height-norm;
    // @include lh($height);
    // @include nowrap();
    // border-radius: $main-border-radius $main-border-radius 0 0;
    font-weight: bold;
    font-size: $fs-tit;
    color: $color-tit;
    background: $bg-tit;
    pointer-events: none;
  }
  &_header__sym {
    $width: 0.4rem;
    $height: inherit;

    position: relative;
    display: inline-block;
    // &::before {
    //   content: '★';
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   left: -($width + 0.06rem);
    //   width: $width;
    //   height: $height;
    //   z-index: 1;
    // }
    // &::after {
    //   content: '★';
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   right: -($width + 0.06rem);
    //   width: $width;
    //   height: $height;
    //   z-index: 1;
    // }
  }
  // 内容体
  &_body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: ($width - 0.4rem);
    padding: 0 0 0.5rem;
    // color: inherit;
    // background: #fff0d6;
    // border-radius: 0 0 0.3rem 0.3rem;
    box-sizing: border-box;
  }
  &_body-auto {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: ($width - 0.4rem);
    padding: 0 0 0.5rem;
    // color: inherit;
    // background: #fff0d6;
    // border-radius: 0 0 0.3rem 0.3rem;
    box-sizing: border-box;
  }
  // 按钮
  &_btn_close {
    $width: 0.32rem;
    $gutter: 6px;

    display: block;
    // padding: $gutter;
    position: absolute;
    top: -0.4rem;
    right: 0;
    z-index: 20;
    cursor: pointer;
    width: $width;
    height: $width;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAYAAAAfrhY5AAAA9klEQVRIicXXUQ6DIAwG4N/dxRdvwtmnu4TeowtZNYwgtIXGJnuYYr+/Cy5hIiJwTQCuL451OS82FgArgNkZjv3f7AFEFKf/0K92Iprjr+Hwmbl/rC26JxJvHI4BUvg4++cLPAIU4Rz3CHALl/CRAarwHT4iQBOu4T0BRHALtwRI4eZ66SSSACpYiksCqGENXgtggrV4KUCwwhY8D0BW2IqDJ04rWPpYJ9+fmDzfXKHnn7AHTne7KUAvXNqEQ99z6XusDjAKNgUYCaufGw2rnveAxX28YFE/T7jZ1xuu9gefWDZHuBTg78Sy8AUvOA2wsofnTqkAvo4w0Hzsm9+kAAAAAElFTkSuQmCC')
      no-repeat center / $width auto;
    // border-radius: 50%;
    // border: 0.02rem solid #fff;
    @include btnedage-expanding($gutter);
    &:hover {
      filter: brightness(1.1);
    }
  }
  &_btn-ok {
    $height: 0.4rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1rem 0.12rem;
    width: 1.6rem;
    // @include lh($height);
    line-height: normal;
    text-align: center;
    box-shadow: 0 0 1px #f06868;
    // border: 0.02rem solid #d67029;
    border-radius: $height;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 0.22rem;
    // font-weight: bold;
    color: #fff;
    background: #d67029 linear-gradient(#a30f0f, #be1010, #a30f0f);
    // background: #ab231f -webkit-radial-gradient(top, #f8cb2f, #d35500, #9d1200);
  }
  &_btn-link {
    $width: 1.3rem;
    $height: 0.36rem;

    // display: inline-flex;
    // align-items: center;
    // justify-content: center;
    display: inline-block;
    padding: 0 0.1rem;
    min-width: $width;
    text-align: center;
    // border: 0.02rem solid #fff;
    // border-radius: math.div($height,2);
    line-height: normal;
    // @include lh($height);
    text-decoration: underline;
    color: $color;
    // background-color: #d8052e;
    // font-size: 0.22rem;
    cursor: pointer;
    &:active {
      -webkit-filter: brightness(1.1);
      filter: brightness(1.1);
    }
  }
  // 滚动态
  &_scrollbar {
    position: static;
    padding: 0 0.5em;
    margin-left: auto;
    margin-right: auto;
    max-height: $scrollbar-maxheight;
    box-sizing: border-box;
    overflow: hidden scroll;
    @include scroll_chaining();
  }

  // 激活码
  &_cdkey {
    margin-left: auto;
    margin-right: auto;
    padding: 0.1rem 1em;
    text-align: center;
    line-height: $line-height-norm;
    // @include lh(1.5em);
    // @include nowrap();
    overflow-x: auto;
    color: #fff;
    background: $bg-norm;
    user-select: all;
  }
  // 提示文本
  &_tips {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  // select
  &_select {
    $color: #333;
    $bg: $bg-norm;
    $width: 100%;
    $radius: 0;

    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.2rem;
    width: $width;
    @include lh($input-select-height);
    @include input-align(center);
    background-color: $bg;
    color: $color;
    // border: 0.02rem solid $color;
    border-radius: $radius;
    outline: none;
    overflow: hidden;
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;
    &::before {
      // content: '';
      position: absolute;
      top: 38%;
      right: 0.12rem;
      font-size: 0;
      line-height: 1;
      overflow: hidden;
      border-top: 0.16rem solid #000;
      border-bottom: 0.16rem dashed transparent;
      border-left: 0.16rem dashed transparent;
      border-right: 0.16rem dashed transparent;
      border-radius: 0.1rem;
    }
    &:not(:last-of-type) {
      margin-bottom: $input-select-cell-gutter;
    }
    option {
      // text-align: center;
      @include input-align(center);
      color: #333;
    }
  }

  // input
  &_input {
    $width: 100%;

    position: relative;
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    width: $width;
    @include lh($input-select-height);
    // height: $input-select-height;
    // border-radius: 0.1rem;
    &:not(:last-of-type) {
      margin-bottom: 0.12rem;
    }
  }
  &_input-label {
    $width: 0.6rem;

    margin-right: 0.1rem;
    // flex: 0 0 #{$width};
    min-width: $width;
    // @include lh($input-select-height);
    // font-size: 0.27rem;
    font-weight: bold;
    color: $color;
  }
  &_input-inp {
    // $width: 2.9rem;
    $radius: 0;

    position: relative;
    flex: 1;
    // flex: 0 0 #{$width};
    // width: $width;
    // @include lh($input-select-height);
    height: 100%;
    input {
      $color: #fff;
      $bg: $bg-norm;

      padding: 0 1em;
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      appearance: none;
      color: $color;
      background: $bg;
      @include inputcolor($color);
      // border: 0.02rem solid $color;
      border-radius: $input-select-cell-radius;
      box-sizing: border-box;
    }
  }
  &_input-auth {
    $width: 5em;

    display: block;
    // margin-left: 0.02rem;
    @include lh($input-select-height);
    min-width: $width;
    text-align: center;
    border-radius: $input-select-cell-radius;
    cursor: pointer;
    background: #0ed105;
    color: #fff;
    &.disable {
      background: #939393;
      filter: grayscale(1);
    }
  }

  // table
  $table-border: $color;
  $tabel-cell-height: 0.6rem;
  &_table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    // width: 5rem;
    border: 0.02rem solid $table-border;
    border-bottom: 0;
    overflow: hidden;
    background: $bg-norm;
    &--center {
      #{$prefixPop}_table_head,
      #{$prefixPop}_table_cells,
      #{$prefixPop}_table_cell {
        justify-content: center;
        text-align: center;
      }
    }
  }
  &_table_head {
    font-weight: bold;
    #{$prefixPop}_table_cell {
      &:not(:last-of-type) {
        border-bottom: 0.02rem solid $table-border;
        border-right: 0.02rem solid $table-border;
      }
      &:last-of-type {
        border-bottom: 0.02rem solid $table-border;
      }
    }
  }
  &_table_body {
    // border-radius: 0.1rem;
    #{$prefixPop}_table_cell {
      &:not(:last-of-type) {
        border-bottom: 0.02rem solid $table-border;
        border-right: 0.02rem solid $table-border;
      }
    }
    #{$prefixPop}_table_cell:last-of-type {
      &:last-of-type {
        border-bottom: 0.02rem solid $table-border;
      }
    }
  }
  &_table_head,
  &_table_cells {
    display: flex;
    // align-items: center; // 设置center倘若两个子元素的height不同时会出现元素错乱
    overflow: hidden;
    // color: #fff;
    // &:nth-of-type(odd) {
    //   background: #3f94d4;
    //   color: #fff;
    // }
    // &:nth-of-type(even) {
    //   background: #8fd3f7;
    //   color: #3f94d4;
    // }
  }
  &_table_cell {
    // height: $tabel-cell-height;
    // line-height: $tabel-cell-height;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    line-height: $line-height-norm;
    padding: 0.1rem 0.04rem;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 0.26rem;
    word-break: break-word;
    // font-weight: bold;
    &:nth-of-type(1) {
      $width: 60%;
      // flex: 0 0 $width;
      // width: $width;
      @include flex-width($width);
    }
    &:nth-of-type(2) {
      $width: 40%;
      // flex: 0 0 $width;
      // width: $width;
      @include flex-width($width);
    }
    // &:nth-of-type(3) {
    //   $width: 20%;
    //   -webkit-box-flex: 0;
    //   -webkit-flex: 0 0 $width;
    //   -moz-box-flex: 0;
    //   -ms-flex: 0 0 $width;
    //   flex: 0 0 $width;
    //   width: $width;
    // }
    &.span5 {
      $width: 50%;
      &:nth-of-type(1) {
        // flex: 0 0 $width;
        // width: $width;
        @include flex-width($width);
      }
      &:nth-of-type(2) {
        // flex: 0 0 $width;
        // width: $width;
        @include flex-width($width);
      }
    }
    &_.span10 {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        width: 100%;
        flex: 1;
      }
    }
  }

  // muti grid
  $mgrid-border: 0.02rem solid #ffa3a3;
  &_mgrid {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    // width: 5.2rem;
    border-right: $mgrid-border;
    border-bottom: $mgrid-border;
    background: $bg-norm;
  }
  &_mgrid-tr {
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
    line-height: 1.28;
    // @include lh(0.6rem);
    // overflow: hidden;
    border-top: $mgrid-border;
    // &:not(:last-of-type) {
    //   margin-bottom: 0.3rem;
    // }
  }
  &_mgrid-td {
    position: relative;
    padding: 0.1rem 0.04rem;
    text-align: center;
    word-break: break-word;
    overflow: auto hidden;
    white-space: nowrap;
    box-sizing: border-box;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      border-left: $mgrid-border;
    }
    &:nth-of-type(1) {
      $width: 30%;
      flex: 0 0 $width;
      width: $width;
    }
    &:nth-of-type(2) {
      $width: 30%;
      flex: 0 0 $width;
      width: $width;
    }
    &:nth-of-type(3) {
      $width: 40%;
      flex: 0 0 $width;
      width: $width;
    }
  }

  // picker
  &_picker_main {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 20;
    backface-visibility: hidden;
    transform: translate(0, 100%);
    transition: transform 0.3s;
    animation: pickerSlide ease 0.3s forwards;
    background-color: #fff;
    @-webkit-keyframes pickerSlide {
      from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }

      to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }

    @keyframes pickerSlide {
      from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }

      to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
  }
  &_picker_hd {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 9px 15px;
    position: relative;
    text-align: left;
    font-size: 17px;
    border-bottom: 0.02rem solid #e5e5e5;
    box-shadow: 0 0 0.15rem #ccc;
    input {
      margin: 0 0.1rem;
      @include input-align(center);
      @include inputcolor(#ccc);
      flex: 1;
      font-size: 14px;
    }
  }
  &_picker_btn {
    display: block;
    cursor: pointer;
    white-space: nowrap;
    &--cancel {
      color: #a9a9a9;
      padding-right: 0.5rem;
    }
    &--confirm {
      color: #1aad19;
      text-align: right;
      padding-left: 0.5rem;
    }
  }
  &_picker__body {
    position: relative;
    background-color: #fff;
    height: 238px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    ul {
      padding: 20px;
      color: #000;
      li {
        width: 100%;
        height: 34px;
        line-height: 34px;
        &.active {
          color: #1aad19;
        }
      }
    }
  }
  // pop game ready count
  &_ready {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
  }
}

/**
  html template for above css style
**/
// <!-- pop start -->

// <!-- pop suc  -->
// <div class="jy-pop pop-suc" id="J_tipSucPop">
//   <div class="jy-pop_mask"></div>
//   <div class="jy-pop_main pop-status">
//     <div class="jy-pop_header">
//       <i class="ico-txt-dialog-suc"></i>
//     </div>
//     <div class="content mauto mt-20">
//       <p>恭喜官人赛马获得第一名！</p>
//       <p>这是您的礼包码：</p>
//     </div>
//     <div class="copy-content">
//       <div class="copy-txt">SHSDIFOSDFDWR</div>
//       <a href="javascript:;" data-clipboard-target=".copy-txt" class="jy-btn ico-pop-btn-copy jbtnpopcode">复制</a>
//     </div>
//     <div class="mt-30 tc">
//       <a href="javascript:;" class="jy-btn ico-btn-nav-home btn-nav-home">返回首页</a>
//       <a href="javascript:;" class="jy-btn ico-btn-share btn-share ml-5">邀请好友</a>
//     </div>
//   </div>
// </div>
// <!-- pop err  -->
// <div class="jy-pop pop-err" id="J_tipErrPop">
//   <div class="jy-pop_mask"></div>
//   <div class="jy-pop_main pop-status">
//     <div class="jy-pop_header">
//       <i class="ico-txt-dialog-fail"></i>
//     </div>
//     <div class="content mauto">
//       <p>哎呀，还差一丢丢就胜利了，</p>
//       <p>不如再试试吧~</p>
//     </div>

//     <div class="mt-30 tc">
//       <a href="javascript:;" class="jy-btn ico-btn-nav-home btn-nav-home">返回首页</a>
//       <a href="javascript:;" class="jy-btn ico-btn-share btn-share ml-5">邀请好友</a>
//     </div>
//   </div>
// </div>

// <!-- pop 概率公示  -->
// <div class="jy-pop" id="J_adverPop">
//   <div class="jy-pop_mask"></div>
//   <div class="jy-pop_main">
//     <a href="javascript:;" class="jy-btn jy-pop_btn_close jpop-btn-close ico-pop-btn-close">关闭</a>
//     <div class="jy-pop_header">
//       <div class="jy-pop_header_sym">概率公示</div>
//     </div>
//     <div class="jy-pop_body">
//       <div class="jy-pop_scrollbar mt-20 lh-20">
//         <p>亲爱的玩家朋友们：</p>
//         <p>应国家有关法律规定，现对活动内各玩法中物品产出概率公布如下：</p>
//         <p>一、怦然心动</p>
//         <p>
//           活动期间首次心动可获得【怦然心动游戏大礼包】*1，100%概率获得。另外，每天心动即可获得随机【心动值】，100%概率获得。
//         </p>
//         <p>二、爱要有“礼”</p>
//         <p>活动期间，消耗【心动值】*5可进行一次采摘，奖品概率公示如下</p>

//         <div class="jy-pop_table mt-20">
//           <div class="jy-pop_table_head">
//             <div class="jy-pop_table_cell">奖 品</div>
//             <div class="jy-pop_table_cell">概率</div>
//           </div>
//           <div class="jy-pop_table_body">
//             <div class="jy-pop_table_cells">
//               <div class="jy-pop_table_cell">华为Mate 20</div>
//               <div class="jy-pop_table_cell">0.01%</div>
//             </div>
//             <div class="jy-pop_table_cells">
//               <div class="jy-pop_table_cell">黄金礼盒</div>
//               <div class="jy-pop_table_cell">5%</div>
//             </div>
//             <div class="jy-pop_table_cells">
//               <div class="jy-pop_table_cell">屠龙刀外型U盘</div>
//               <div class="jy-pop_table_cell">5%</div>
//             </div>
//             <div class="jy-pop_table_cells">
//               <div class="jy-pop_table_cell">膳魔师保温杯</div>
//               <div class="jy-pop_table_cell">5%</div>
//             </div>
//             <div class="jy-pop_table_cells">
//               <div class="jy-pop_table_cell">记忆棉U型枕</div>
//               <div class="jy-pop_table_cell">5%</div>
//             </div>
//             <div class="jy-pop_table_cells">
//               <div class="jy-pop_table_cell">白色长柄雨伞</div>
//               <div class="jy-pop_table_cell">5%</div>
//             </div>
//           </div>
//         </div>

//         <div class="mt-20 lh-20">
//           温馨提示：文中所有概率均是在大样本（大量用户）下的统计数值，与单个玩家的少量测试数据之间可能会存在一定差异。
//         </div>
//       </div>
//     </div>
//   </div>
// </div>

// <!-- pop 游戏规则  -->
// <div class="jy-pop" id="J_rulePop">
//   <div class="jy-pop_mask"></div>
//   <div class="jy-pop_main bg-pop-3">
//     <a href="javascript:;" class="jy-btn jpop-btn-close jy-pop_btn_close i-pop-close">关闭</a>
//     <div class="jy-pop_header"><div class="jy-pop_header_sym">游戏规则</div></div>
//     <div class="jy-pop_body">
//       <div class="jy-pop_scrollbar mt-20 lh-20">
//         <ul class="ul-decimal">
//           <li>活动时间：7月23日-7月26日</li>
//           <li>
//             官人可任意选择「官人赛马」/「西施游泳」比赛，挑战成功即可获得一份礼包，每个项目最多可领取兑换一次礼包。
//           </li>
//           <li>奥运排行榜前200名将获得「奥运健儿」礼包一份，礼包将于27日0点自动发放，请官人及时查看成绩~</li>
//           <li>
//             排行榜规则：
//             <br />
//             比赛项目可无限次挑战，记录用时最短的成绩； 两个项目挑战用时相加，总用时最短则排名靠前；
//             若分数相同，则按照得分先后顺序排名。
//           </li>
//         </ul>
//       </div>

//       <!-- <div class="mt-40 tc">
//         <a href="javascript:;" class="jy-btn i-btn-pop-okay">我知道了</a>
//       </div> -->
//     </div>
//   </div>
// </div>

// <!-- pop 我的奖励  -->
// <div class="jy-pop" id="J_recordPop">
//   <div class="jy-pop_mask"></div>
//   <div class="jy-pop_main">
//     <a href="javascript:;" class="jy-btn jy-pop_btn_close jpop-btn-close ico-pop-btn-close">关闭</a>
//     <div class="jy-pop_header">
//       <div class="jy-pop_header_sym">我的奖励</div>
//     </div>
//     <div class="jy-pop_body">
//       <div class="mt-30">
//         <!-- 两栏 table -->
//         <div class="jy-pop_table jy-pop_table--center">
//           <div class="jy-pop_scrollbar">
//             <div class="jy-pop_table_body">
//               <div class="jy-pop_table_cells">
//                 <div class="jy-pop_table_cell">怦然心动游戏礼包*1</div>
//                 <div class="jy-pop_table_cell">
//                   <a href="javascript:;" class="jy-btn-txt jy-pop_btn-link btn-pop-code">查看</a>
//                 </div>
//               </div>
//               <div class="jy-pop_table_cells">
//                 <div class="jy-pop_table_cell">抱枕被*1</div>
//                 <div class="jy-pop_table_cell">
//                   <a href="javascript:;" class="jy-btn-txt jy-pop_btn-link btn-pop-address">填写地址</a>
//                 </div>
//               </div>
//               <div class="jy-pop_table_cells">
//                 <div class="jy-pop_table_cell">怦然心动游戏礼包*1</div>
//                 <div class="jy-pop_table_cell">
//                   <a href="javascript:;" class="jy-btn-txt jy-pop_btn-link btn-pop-get">待领取</a>
//                 </div>
//               </div>
//             </div>
//           </div>
//         </div>

//         <!-- 多栏 mgrid -->
//         <!-- <div class="jy-pop_mgrid">
//           <div class="jy-pop_mgrid-tr text-primary fb">
//             <div class="jy-pop_mgrid-td">奖品</div>
//             <div class="jy-pop_mgrid-td">奖品数量</div>
//             <div class="jy-pop_mgrid-td">详细</div>
//           </div>
//           <div class="jy-pop_scrollbar mauto">
//             <div class="jy-pop_mgrid-tr">
//               <div class="jy-pop_mgrid-td">礼包码</div>
//               <div class="jy-pop_mgrid-td">x1</div>
//               <div class="jy-pop_mgrid-td">4564654643132</div>
//             </div>
//             <div class="jy-pop_mgrid-tr">
//               <div class="jy-pop_mgrid-td">公仔</div>
//               <div class="jy-pop_mgrid-td">x12</div>
//               <div class="jy-pop_mgrid-td">
//                 <a href="javascript:;" class="jy-btn-txt jy-pop_btn-link btn-pop-get">打开宝箱</a>
//               </div>
//             </div>
//             <div class="jy-pop_mgrid-tr">
//               <div class="jy-pop_mgrid-td">游戏宝箱</div>
//               <div class="jy-pop_mgrid-td">x1</div>
//               <div class="jy-pop_mgrid-td">
//                 <a href="javascript:;" class="jy-btn-txt jy-pop_btn-link btn-pop-address">填写地址</a>
//               </div>
//             </div>
//             <div class="jy-pop_mgrid-tr">
//               <div class="jy-pop_mgrid-td">礼包码</div>
//               <div class="jy-pop_mgrid-td">x1</div>
//               <div class="jy-pop_mgrid-td">
//                 <a href="javascript:;" class="jy-btn-txt jy-pop_btn-link btn-pop-code">查看</a>
//               </div>
//             </div>
//           </div>
//         </div> -->
//       </div>
//     </div>
//   </div>
// </div>

// <!-- pop 奖品展示  -->
// <div class="jy-pop" id="J_awardlsPop">
//   <div class="jy-pop_mask"></div>
//   <div class="jy-pop_main">
//     <a href="javascript:;" class="jy-btn jy-pop_btn_close jpop-btn-close ico-pop-btn-close">关闭</a>
//     <div class="jy-pop_header">
//       <div class="jy-pop_header_sym">奖品展示</div>
//     </div>
//     <div class="jy-pop_body">
//       <div class="jy-pop_scrollbar mt-20 lh-20">
//         <!-- 图片控制 -->
//         <!-- <div class="tc">
//           <div class="bg-pop-gift "></div>
//         </div> -->

//         <!-- 代码控制 -->
//         <div class="jy-pop_table">
//           <div class="jy-pop_table_body">
//             <div class="jy-pop_table_cells">
//               <div class="jy-pop_table_cell span5">5万银两</div>
//               <div class="jy-pop_table_cell span5">9朵玫瑰花</div>
//             </div>
//             <div class="jy-pop_table_cells">
//               <div class="jy-pop_table_cell span5">试炼玉佩*1</div>
//               <div class="jy-pop_table_cell span5">50绑定元宝*1</div>
//             </div>
//             <div class="jy-pop_table_cells">
//               <div class="jy-pop_table_cell span5">坐骑祝福丹*1</div>
//               <div class="jy-pop_table_cell span5">灵兽祝福卡</div>
//             </div>
//             <div class="jy-pop_table_cells">
//               <div class="jy-pop_table_cell span5">橙色异兽自选盒</div>
//               <div class="jy-pop_table_cell span5">50元京东卡</div>
//             </div>
//             <div class="jy-pop_table_cells">
//               <div class="jy-pop_table_cell span5">定制折扇</div>
//               <div class="jy-pop_table_cell span5">谢谢参与</div>
//             </div>
//           </div>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>

// <!-- pop 个人信息  -->
// <div class="jy-pop" id="J_ownPop">
//   <div class="jy-pop_mask"></div>
//   <div class="jy-pop_main">
//     <a href="javascript:;" class="jy-btn jy-pop_btn_close jpop-btn-close ico-pop-btn-close">关闭</a>
//     <div class="jy-pop_header">
//       <div class="jy-pop_header_sym">个人信息</div>
//     </div>
//     <div class="jy-pop_body">
//       <div class="jy-pop_scrollbar mt-20 lh-20">
//         <div class="tc">恭喜你！获得XXX !</div>

//         <div class="mt-20">
//           <div class="jy-pop_input">
//             <div class="jy-pop_input-label tr">姓名</div>
//             <div class="jy-pop_input-inp">
//               <input placeholder="" type="text" class="ff-normal" />
//             </div>
//           </div>
//           <div class="jy-pop_input">
//             <div class="jy-pop_input-label tr">手机</div>
//             <div class="jy-pop_input-inp">
//               <input placeholder="" type="text" class="ff-normal" />
//             </div>
//             <a href="javascript:;" class="jy-btn-txt jy-pop_input-auth disable">验证码</a>
//           </div>
//           <div class="jy-pop_input">
//             <div class="jy-pop_input-label tr">地址</div>
//             <div class="jy-pop_input-inp">
//               <input placeholder="" type="text" class="ff-normal" />
//             </div>
//           </div>
//         </div>

//         <a href="javascript:;" class="jy-btn-txt jy-pop_btn-ok jpop-btn-ok mt-30">确认提交</a>
//       </div>
//     </div>
//   </div>
// </div>

// <!-- pop 游戏信息  -->
// <div class="jy-pop" id="J_gamePop">
//   <div class="jy-pop_mask"></div>
//   <div class="jy-pop_main">
//     <a href="javascript:;" class="jy-btn jy-pop_btn_close jpop-btn-close ico-pop-btn-close">关闭</a>
//     <div class="jy-pop_header">
//       <div class="jy-pop_header_sym">游戏信息</div>
//     </div>
//     <div class="jy-pop_body">
//       <div class="jy-pop_scrollbar mt-20 lh-20">
//         <!-- 低版本兼容 -->
//         <!-- <div class="jy-pop_input mt-20">
//           <div class="jy-pop_input-inp">
//             <div class="jy-pop_select ico-select-dr ff-normal" id="jyCallPicker">请选择区服</div>
//           </div>
//         </div> -->

//         <!-- 现代浏览器 -->
//         <div class="jy-pop_input mt-20">
//           <!-- <div class="jy-pop_input-label tr">区服:</div> -->
//           <div class="jy-pop_input-inp">
//             <select name="" id="" class="jy-pop_select ff-normal">
//               <option value="">请选择区服</option>
//             </select>
//           </div>
//         </div>

//         <a href="javascript:;" class="jy-btn-txt jy-pop_btn-ok jpop-btn-ok mt-30">确认</a>
//       </div>
//     </div>
//   </div>
// </div>

// <!-- pop 礼包码  -->
// <div class="jy-pop" id="J_codePop">
//   <div class="jy-pop_mask"></div>
//   <div class="jy-pop_main">
//     <a href="javascript:;" class="jy-btn jy-pop_btn_close jpop-btn-close ico-pop-btn-close">关闭</a>
//     <div class="jy-pop_header">
//       <div class="jy-pop_header_sym">礼包码</div>
//     </div>
//     <div class="jy-pop_body">
//       <div class="jy-pop_scrollbar mt-50 lh-20">
//         <div class="jy-pop_cdkey" id="cptar">fgheuofbpghxwoag</div>

//         <a
//           href="javascript:;"
//           data-clipboard-target="#cptar"
//           class="jy-btn-txt jy-pop_btn-ok jpop-btn-ok mt-30 jbtnpopcode"
//         >
//           一键复制
//         </a>
//       </div>
//     </div>
//   </div>
// </div>

// <!-- pop tip  -->
// <div class="jy-pop" id="J_tipPop">
//   <div class="jy-pop_mask"></div>
//   <div class="jy-pop_main">
//     <a href="javascript:;" class="jy-btn jy-pop_btn_close jpop-btn-close ico-pop-btn-close">关闭</a>
//     <div class="jy-pop_header">
//       <div class="jy-pop_header_sym">温馨提示</div>
//     </div>
//     <div class="jy-pop_body">
//       <div class="jy-pop_scrollbar mt-40 lh-20">
//         <div class="jy-pop_tips" id="popTipNorm">您的心动值不足哦~</div>

//         <a href="javascript:;" class="jy-btn-txt jy-pop_btn-ok jpop-btn-ok mt-30">确认</a>
//       </div>
//     </div>
//   </div>
// </div>

// <!-- pop share tip -->
// <div class="jy-pop" id="J_sharePop">
//   <div class="jy-pop_mask jy-pop_mask--clickable"></div>
//   <div class="bg-tip mlauto"></div>
// </div>

// <!-- pop ready tip -->
// <div class="jy-pop" id="J_readyPop">
//   <div class="jy-pop_mask"></div>
//   <div class="pop-ready">5</div>
// </div>

// <!-- pop selector  -->
// <div style="z-index: 1001" class="jy-pop" id="J_selectorPop">
//   <div class="jy-pop_mask jy-pop_mask--clickable"></div>
//   <div class="jy-pop_picker_main">
//     <div class="jy-pop_picker_hd">
//       <a href="javascript:;" class="jy-pop_picker_btn jy-pop_picker_btn--cancel">取消</a>
// <input placeholder="请输入关键字"/>
//       <a href="javascript:;" class="jy-pop_picker_btn jy-pop_picker_btn--confirm">确定</a>
//     </div>
//     <div class="jy-pop_picker__body">
//       <ul id="jyPopPicker">
//         <li class="active">xxx</li>
//         <li>123</li>
//         <li>xxx</li>
//         <li>123</li>
//         <li>xxx</li>
//         <li>123</li>
//         <li>xxx</li>
//         <li>123</li>
//         <li>xxx</li>
//         <li>123</li>
//       </ul>
//     </div>
//   </div>
// </div>

// <!-- preload -->
// <div class="ploading active" id="pagePreload">
//   <div class="progress lh-20 tc">
//     <p>loading...</p>
//     <p id="ploadingPro">0%</p>
//   </div>
// </div>

// <!-- pop game ready count -->
// <div class="jy-pop" id="J_gameReadyPop">
//   <div class="jy-pop_mask"></div>
//   <div class="jy-jbtnpopcode"><span id="gameReadyCount">3</span></div>
// </div>

// <!-- pop旋屏提示 -->
// <div id="orientLayer" class="jy-orient_layer">
//   <div class="jy-orient_content">
//     <i class="jy-orient_icon"></i>
//     <div class="jy-orient_extra">为了更好的体验，请使用竖屏浏览</div>
//   </div>
// </div>
// <!-- pop end -->
