.i-player-bg{display:inline-block;width: 1.26rem; height: 1.25rem; background: url("../img/i-player-bg.png") no-repeat 0 0 / 1.26rem auto;}
.i-player-btn{display:inline-block;width: 0.25rem; height: 0.29rem; background: url("../img/i-player-btn.png") no-repeat 0 0 / 0.25rem auto;}
.i-tel {
  display: block;
  width: 4.98rem;
  height: 1.26rem;
  background: url("../img/i-tel.png") no-repeat center / 4.98rem auto;
}
